<div class="main-content">
    <div class="myblogs-section">
        <div class="my-blogs-text-wrapper">
            <div class="my-blog-text">
                <p>Blogs to be approved</p>
            </div>
        </div>
        <div class="blog-renders-wrapper">
            <div class="blog-renders">
                <app-smaller-blog></app-smaller-blog>
                <div class="approve-delete-buttons">
                    <button class="approve-button">
                        <div class="approve">Approve</div>
                    </button>
                    <button class="delete-button">
                        <div class="delete">Delete</div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flaggedblogs-section">
        <div class="flagged-blogs-text-wrapper">
            <div class="flagged-blog-text">
                <p>Flagged Blogs</p>
            </div>
        </div>
        <div class="flagged-blog-renders-wrapper">
            <div class="flagged-blog-renders">
                <app-smaller-blog></app-smaller-blog>
                <div class="ignore-delete-buttons">
                    <button class="ignore-button">
                        <div class="ignore">Ignore</div>
                    </button>
                    <button class="delete-button">
                        <div class="delete">Delete</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
