<div class="places-name-add-button-wrapper">
  <div class="title-places">
    <p>Places
    <p>
  </div>
  <div class="add-button-wrapper">
    <button class="add-button" (click)="addNewPlace()">Add</button>
  </div>
</div>
<div class="places-info">
  <div class="places-card" *ngFor="let place of places; let index = index">
    <div class="cross-button-wrapper">
      <button class="cross-button" (click)="deletePlace(index)">
        <i class="fa-solid fa-xmark" style="color: #000000;"></i>
      </button>
    </div>
    <div class="place-property">
      <div class="place-name">
        <p>Name:</p>
      </div>
      <div class="property-input">
        <input class="places-text-box" placeholder="Type here" type="text" [(ngModel)]="place.placeName"/>
      </div>
    </div>
    <div class="place-property">
      <div class="place-name">
        <p>Google map link:</p>
      </div>
      <div class="property-input">
        <input class="places-text-box" placeholder="Type here" type="text" [(ngModel)]="place.googleMapLink"/>
      </div>
    </div>
    <div class="blog-property">
      <div class="property-name">
        <p>About Place:</p>
      </div>
      <div class="property-input">
        <textarea class="text-box" id="blog-desc-text" placeholder="More about this place" rows="12"
          cols="26" [(ngModel)]="place.description"></textarea>
      </div>
    </div>
    <div class="thumbnail">
      <div class="blog-property" id="thumbnail-field">
        <div class="property-name">
          <p>Images:</p>
        </div>
        <div class="property-input" id="thumbnail-button-field">
          <button class="Upload-photo">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>