* {
  box-sizing: border-box;
}

.error {
  border-color: red;
}

.required-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.add-button:disabled,
.save-button:disabled {
  background-color: #cccccc;
  /* Change background color */
  color: #666666;
  /* Change text color */
  cursor: not-allowed;
  /* Change cursor to indicate button is disabled */
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100vw;
  /* background-color: black; */
  padding: 0rem 5rem;

}

.title {
  font-size: 3rem;
  font-weight: 600;
  width: fit-content;
  height: 60px;
  /* background-color: aqua; */
}

.main-content {
  display: flex;
  height: 45rem;
  width: 75rem;
  /* background-color: blanchedalmond; */
  padding: 2rem;
  gap: 20px;
}

.blog-details {
  height: 100%;
  width: 50%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blog-property {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  /* background-color: aqua; */
}

.property-name {
  font-size: x-large;
  font-weight: 600;
  color: black;
}

/* .property-input, */
.text-box {
  font-size: large;
  font-weight: 300;
  color: #333333;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gray;
  height: 45px;
  width: 100%;
}

#blog-desc-text {
  width: 150%;
  height: 150px;
}

.city-category-wrapper {
  display: flex;
  /* justify-content: space-between; */
}

#city-field,
#category-field {
  width: 250px;
}

.dropdown {
  font-size: larger;
  text-align: center;
  height: 45px;
  width: 180px;
  border-radius: 5px;
  border: 1px solid gray;
}

.thumnail-comments-wrapper {
  display: flex;
  /* gap: 7rem; */
  align-items: center;
  /* justify-content: space-evenly; */
}

#thumbnail-button-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Upload-photo {
  height: 35px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid gray;
}

.places-name-add-button-wrapper {
  display: flex;
  height: 50px;
  width: 100%;
  /* background-color: aqua; */
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.add-button-wrapper {
  display: flex;
  gap: 5px;
}

.title-places {
  color: #666666;
  height: 35px;
  font-size: 35px;
  font-weight: 500;
}

.title-places p {
  height: inherit;
  width: inherit;
}

.add-button {
  height: 35px;
  width: 70px;
  border: none;
  background-color: #872BFF;
  border-radius: 13px;
  font-size: large;
  font-weight: 500;
  color: white;
}

.places-details {
  height: 100%;
  width: 50%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.places-info {
  overflow-y: auto;
  max-height: 550px;
  width: 100%;
  /* background-color: #872BFF; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.place-property {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  /* background-color: aqua; */
}

.place-name {
  font-size: x-large;
  font-weight: 600;
  color: black;
}

.places-card {
  /* padding-top: 30px; */
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgba(222, 222, 222, 0.767);
  border-radius: 10px;
}

.cross-button-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 30px;
  /* background-color: cadetblue; */
}

.cross-button {
  height: inherit;
  width: 30px;
  font-size: x-large;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.places-text-box {
  font-size: large;
  font-weight: 300;
  color: #333333;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid gray;
  height: 45px;
  width: 100%;
}


.post-button-wrapper {
  margin-bottom: 100px;
}

.Post-Place {
  background-color: #b98cf4;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: x-large;
  height: 60px;
  width: 150px;
  font-weight: 600;
}