<div class="places-name-add-button-wrapper">
  <div class="title-places">
    <p>Places</p>
  </div>
  <div class="add-button-wrapper">
    <button class="add-button" (click)="addNewPlace()" [disabled]="!canAddPlace()">Add</button>
    <button class="add-button" (click)="saveThePlace()" [disabled]="!canSavePlace()">Save</button>
  </div>
</div>
<div class="places-info">
  <div class="places-card" *ngFor="let place of places; let index = index">
    <div class="cross-button-wrapper">
      <button class="cross-button" (click)="deletePlace(index)">
        <i class="fa-solid fa-xmark" style="color: #000000;"></i>
      </button>
    </div>
    <div class="place-property">
      <div class="place-name">
        <p>Name:</p>
      </div>
      <div class="property-input">
        <input class="places-text-box" placeholder="Type here" type="text" [(ngModel)]="place.placeName" #placeNameInput [ngClass]="{'error': !place.placeName && placeNameInput.focus}" />
        <p class="required-message" *ngIf="!place.placeName && placeNameInput.focus">Name is required</p>
      </div>
    </div>
    <div class="place-property">
      <div class="place-name">
        <p>Google map link:</p>
      </div>
      <div class="property-input">
        <input class="places-text-box" placeholder="Type here" type="text" [(ngModel)]="place.googleMapLink" #googleMapLinkInput [ngClass]="{'error': !place.googleMapLink && googleMapLinkInput.focus}" />
        <p class="required-message" *ngIf="!place.googleMapLink && googleMapLinkInput.focus">Google map link is required</p>
      </div>
    </div>
    <div class="blog-property">
      <div class="property-name">
        <p>About Place:</p>
      </div>
      <div class="property-input">
        <textarea class="text-box" id="blog-desc-text" placeholder="More about this place" rows="12" cols="26" [(ngModel)]="place.description" #descriptionInput [ngClass]="{'error': !place.description && descriptionInput.focus}"></textarea>
        <p class="required-message" *ngIf="!place.description && descriptionInput.focus">About Place is required</p>
      </div>
    </div>
    <div class="thumnail-comments-wrapper">
      <div class="thumbnail">
        <div class="blog-property" id="thumbnail-field">
          <div class="property-name">
            <p>Photo:</p>
          </div>
          <div class="property-input" id="thumbnail-button-field">
            <input class="places-text-box" placeholder="Type here" type="text" [(ngModel)]="place.images" #imagesInput [ngClass]="{'error': !place.images && imagesInput.focus}" />
            <p class="required-message" *ngIf="!place.images && imagesInput.focus">Photo is required</p>
          </div>
        </div>
      </div>
    </div>
    <div class="place-property">
      <div class="place-name">
        <p>Price:</p>
      </div>
      <div class="property-input">
        <input class="places-text-box" placeholder="Type here" type="text" [(ngModel)]="place.price" #priceInput [ngClass]="{'error': !place.price && priceInput.focus}" />
        <p class="required-message" *ngIf="!place.price && priceInput.focus">Price is required</p>
      </div>
    </div>
    <div class="place-property">
      <div class="place-name">
        <p>Must Try:</p>
      </div>
      <div class="property-input">
        <input class="places-text-box" placeholder="Type here" type="text" [(ngModel)]="place.MustTry" #mustTryInput [ngClass]="{'error': !place.MustTry && mustTryInput.focus}" />
        <p class="required-message" *ngIf="!place.MustTry && mustTryInput.focus">Must Try is required</p>
      </div>
    </div>
    <div class="place-property">
      <div class="place-name">
        <p>Offical Link:</p>
      </div>
      <div class="property-input">
        <input class="places-text-box" placeholder="Type here" type="text" [(ngModel)]="place.officalLink"  />
      </div>
    </div>
  </div>
</div>
