<div class="places-parent">
  <h1 class="places">Places</h1>
  <button class="name-of-place-input-field">
    <div class="add">Add</div>
  </button>
</div>

<div class="frame-parent37">
  <div class="name-of-place-parent">
    <div class="name-of-place">
      <b class="input-text-label1">Name of the Place:</b>
      <div class="input-field1">
        <div class="text1">
          <input class="type-here1" placeholder="Type here" type="text" />
        </div>
      </div>
      <div class="assistive-text1">Assistive Text</div>
    </div>
    <div class="google-map-link1">
      <b class="input-text-label2">Google Map link:</b>
      <div class="input-field2">
        <div class="text2">
          <input class="type-here2" placeholder="Type here" type="text" />
        </div>
      </div>
      <div class="assistive-text2">Assistive Text</div>
    </div>
    <div class="images1">
      <b class="images2">Images:</b>
      <div class="rectangle-parent4">
        <div class="frame-child17"></div>
        <h1 class="add-place-btn">+</h1>
      </div>
    </div>
    <div class="blog-desc">
      <b class="about">About :</b>
      <textarea class="blog-desc-child" placeholder="More about this place" rows="12" cols="30"></textarea>
    </div>
  </div>
  <h1 class="h11">+</h1>
  <div class="frame-child18"></div>
</div>
