<div class="create-a-blog">
  <div class="create-a-blog-child"></div>
  <app-navbar></app-navbar>
  <section class="image-container1">
    <div class="frame-parent34">
      <div class="frame-parent35">
        <div class="name-of-place-input-wrapper">
          <div class="name-of-place-input">
            <div class="google-map-link">
              <div class="text-inputs">
                <b class="input-text-label">Title of the blog:</b>
                <div class="input-field">
                  <div class="text">
                    <input class="type-here" placeholder="Type here" type="text" [(ngModel)]="blogData.title" />
                  </div>
                </div>
                <div class="assistive-text">Assistive Text</div>
              </div>
              <div class="input-container">
                <b class="about-blog">About blog:</b>
                <textarea class="nameof-place-input-field" placeholder="What is blog about" rows="12"
                  cols="26" [(ngModel)]="blogData.description"></textarea>
              </div>
              <div class="city-and-type">
                <div class="city-div">
                  <b class="city">City:</b>
                  <input class="thumbnail" type="text" [(ngModel)]="blogData.city" />
                </div>
                <div class="city-div">
                  <b class="city">Type:</b>
                  <select class="thumbnail" [(ngModel)]="blogData.type">
                    <option value="default">Default</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="thumbnail-parent">
              <b class="thumbnail1">Thumbnail:</b>
              <input class="thumbnail" type="text" [(ngModel)]="blogData.thumbnail" />
            </div>
            <div class="rectangle-parent3">
              <div class="frame-child16"></div>
              <h1 class="h1">+</h1>
            </div>
          </div>
        </div>
        <div class="frame-parent36">
          <app-create-places class="createPlaces"></app-create-places>
        </div>
      </div>
      <div class="post-button">
        <button class="post-label" (click)="postBlog()">
          <b class="post">Post</b>
        </button>
      </div>
    </div>
  </section>
</div>
