.navba

.screen
{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0rem 7rem;
  width: 100vw;
  height: 100vh;
  background-color: blue;
}
.title{
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}