<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="./saved-blog.component.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@700&display=swap" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" />
</head>

<body>
    <div class="saved-blogs">
        <!-- <div class="saved-blogs-child"></div> -->
        <!-- <img class="saved-blogs-item" alt="" src="../../assets/public/frame-50@2x.png" /> -->

        <div class="frame-parent26">
            <app-navbar></app-navbar>
            <div class="frame-wrapper19">
                <main class="saver-symbol-parent">
                    <section class="saver-symbol">
                        <div class="frame-parent28">
                            <div class="saves-wrapper">
                                <h1 class="saves">Saves</h1>
                            </div>


                            <ng-container *ngFor="let blog of savedBlogs">
                                <app-smaller-blog [title]="blog.title" [likes]="blog.likes" [blogId]="blog._id"
                                    (blogClicked)="onBlogClicked($event)"></app-smaller-blog>
                            </ng-container>


                        </div>
                    </section>
                    <div class="frame-child15"></div>
                </main>
            </div>
        </div>

    </div>
</body>

</html>