*{
  box-sizing: border-box;
}

.screen {
  /* position: relative; */
  /* top: 7rem; */
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  padding: 3rem 3rem;
  box-sizing: border-box;
  display: flex;
}

.navbar {
  z-index: 0;
  /* background-color: red; */
}

.main-container {
  display: flex;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;

  /* background-color: black; */
  /* flex-wrap: wrap; */
}

.text-filed {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 50vw;
  height: fit-content;
  /* background-color: red; */
  min-width:50vw;
  word-wrap:normal;
}
.explore-text{
  
  width: inherit;
  height: fit-content;
  /* background-color: blueviolet; */
  margin-top: 3%;
  padding:2rem;
  padding-bottom: 0%;
  
}

.explore-text-box{
  width: 100%;
  height: 100%;
  /* background-color: blanchedalmond; */
  padding: 1.5rem;
  padding-bottom: 0rem;
}

.experience-create-and-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 5rem;
  font-weight:550;
  font-family: inherit;
}

.ani {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  /* border-right: .08em solid purple;  */
  animation: typing-animation 1s linear forwards ;
}

@keyframes typing-animation {
  0% { width: 0; }
  100% { width: 100%; }
}

.experience-create-and-container > .word{
  animation-delay: 0s; 
}

.experience-create-and-container > .word1{
  animation-delay: 1s; 
}

.experience-create-and-container > .word2{
  animation-delay: 2s; 
}

.explore{
  color: #872BFF;
}

.desc-text{
  width: inherit;
  height: fit-content;
  /* background-color: black; */
  padding: 1rem;
  padding-left: 3.7rem;
  padding-top: 0rem;
}

.stay-updated-with {
  align-self: stretch;
  position: relative;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 400;
  color: darkgray;
  word-wrap: normal;
}



.creat-blog-button{
  display: flex;
  align-items: center;
  width: inherit;
  height: fit-content;
  /* background-color: blueviolet; */
  /* padding: 1rem; */
  padding-left: 3.7rem;
}

.create-blog-container-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  height: 55px;
  width: 10rem;
  background-color: #872BFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.create-blog {
  position: relative;
  font-size: large;
  display: inline-block;
  color: white;
  text-align: left;
  min-width: 81px;
 
}


.images-field {
  width: 50vw;
  height: fit-content;
  /* background-color: blue; */

}

.home-img{
  height: 100%;
  width: 100%;
  object-fit: contain;

}




/* Existing styles */

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .text-filed, .images-field {
    width: 100vw; /* Adjust width for smaller screens */
    min-width: 100%; /* Ensure it fills the container */
  }

  .experience-create-and-container {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .desc-text, .creat-blog-button {
    padding-left: 1rem; /* Adjust padding for smaller screens */
  }

  .explore-text {
    height: auto; /* Make height flexible */
    margin-top: 10%; /* Adjust top margin */
  }

  .stay-updated-with {
    font-size: 1rem; /* Adjust font size for readability */
  }
}

@media (max-width: 480px) {
  .experience-create-and-container {
    font-size: 2rem; /* Even smaller font size for very small screens */
  }

  .desc-text, .creat-blog-button {
    padding: 0.5rem; /* Less padding on very small screens */
  }

  .stay-updated-with {
    line-height: 25px; /* Adjust line height for better readability */
  }
}