
<app-navbar class="navbar"></app-navbar>
<!-- 
<app-navbar class="navbar"></app-navbar> -->
<div class="screen">
  <div class="main-container">
    <div class="text-filed">
      <div class="explore-text">
        <div class="explore-text-box">
          <h1 class="experience-create-and-container">
            <span class="word ani">Experience,</span><br>
            <span class="word1 ani ">Create and</span><br>
            <span class="word2 explore ani">Explore.</span>
          </h1>
        </div>
      </div>
      <div class="desc-text">
        <div class="stay-updated-with">
          Stay updated with travel tips, recommendations, and latest
          promos and create your blogs about your experience as
          well.
        </div>
      </div>
      <div class="creat-blog-button">
        <button class="create-blog-container-wrapper" (click)="navigateToCreateBlog()">
            <b class="create-blog">Create Blog</b>
        </button>
      </div>
    </div>
    <div class="images-field">
      <!-- ADDITIO OF IMAGE PENDING -->
    </div>
  </div>
</div>
