<header class="frame-group">
    <div class="teri-galli-mai-wrapper">
      <h2 class="teri-galli-mai">Teri Galli Mai</h2>
    </div>
    <div class="frame-container">
      <div class="frame-wrapper">
        <div class="home-parent">
          <div class="home" (click)="navigateToHome()">Home</div>
          <div class="city-guides"(click)="navigateToCityGuides()">City Guides</div>
          <div class="view-saves"(click)="navigateToSaves()">View Saves</div>
          <div class="write-a-blog"(click)="navigateToMyBlogs()">My Blogs</div>
        </div>
      </div>
      <div class="login-sign-up-title">
        <button class="login-wrapper" (click)="navigateToLogin()">
          <div class="login">Login</div>
        </button>
        <button class="sign-up-wrapper" (click)="navigateToSignup()">
          <div class="sign-up">Sign Up</div>
        </button>
      </div>
    </div>
  </header>

