
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
*{
  font-family: "Plus Jakarta Sans";
}
.navbarLayout{
  gap: 15rem;
  position: fixed;
  left: 0rem;
  top: 0rem;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  background-color: red;
  height: 7rem;
  width: 100vw ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo{
  font-family: "Playfair Display SC";
  /* margin-right: 15rem; */
}
.mid-section{
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  gap: 10rem;

}
.home{
  /* margin-left: 3rem; */
  font-weight: 600;
  font-size: 20px;
  /* margin-right: 2rem; */
   
}
.cityGuides {
  /* margin-right: 20rem; */
  font-size: 20px;
  font-weight: 600;
}

.singup-login{
  display: flex;
}

.signup,.signin{
  width:8rem;
  height: 50px;
  background-color: #872BFF;
  border-radius: 25px;
  box-shadow: none; 
  color: white;
  border: none;
}
.signin{
border-radius: 25px;
background-color: transparent;
color: black;
font-weight: bold;
font-size: 15px;
}