<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="../../../styles.css" />
  <link rel="stylesheet" href="./write-blog.component.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@700&display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700;800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" />
</head>

<body>
  <div class="blog1">
    <div class="frame-parent38">
      <app-navbar></app-navbar>
      <div class="frame-wrapper26">
        <div class="frame-parent41">
          <h1 class="best-outdoor-restaurants">
            17 Best Outdoor Restaurants And Cafes In Delhi To Make The Best Of
            Winter Sun
          </h1>
        </div>
      </div>
    </div>
    <app-inner-blog></app-inner-blog>
  </div>
</body>

</html>