<div class="blog-frame">
    <div class="blog-img">
      <button class="save-button">
        <i class="fa-regular fa-bookmark" style="color: #000000;"></i>
      </button>
      <img src="../../../assets/public/thumbail.jpeg" alt="" class="blog-thumbail">  
    </div>
    <div class="blog-details">
      <div class="blog-title">
        <p>cbejvbc qbdqidb dqud qidhidb dedb</p>
      </div>
      <div class="blog-views">
        <i class="fa-solid fa-eye" style="color: #666666;"></i>
        <div class="likes-and-views">200 views</div> 
      </div>
      <div class="blog-likes">
        <i class="fa-solid fa-heart" style="color: #666666;"></i>
        <div class="likes-and-views">200 likes</div>
      </div>
    </div>
  </div>