<div class="blog-frame" >
    <div class="blog-img">
      <button class="save-button" (click)="onSave(blogId)">
        <i *ngIf="isSaved; else notSavedIcon" class="fa-solid fa-bookmark" style="color: #ffffff;"></i>
      <ng-template #notSavedIcon>
        <i class="fa-regular fa-bookmark" style="color: #000000;"></i>
      </ng-template>
      </button>
      <img src={{thumbnail}} alt="" class="blog-thumbail" (click)="onClick()">  
    </div>
    <div class="blog-details" (click)="onClick()">
      <div class="blog-title">
        <p>{{title}}</p>
      </div>
      <!-- <div class="blog-views">
        <i class="fa-solid fa-eye" style="color: #666666;"></i>
        <div class="likes-and-views"> {{views}} views</div> 
      </div> -->
      <div class="blog-likes">
        <i class="fa-solid fa-heart" style="color: #666666;"></i>
        <div class="likes-and-views">{{ likes }} saves</div>
      </div>
    </div>
  </div>