.ripple-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

/* Adjusted opacity for each shade */
.shade1 { opacity: 0.1; }
.shade2 { opacity: 0.3; }
.shade3 { opacity: 0.5; }
.shade4 { opacity: 0.7; }
.shade5 { opacity: 0.9; }
.shade6 { opacity: 0.8; }
.shade7 { opacity: 0.6; }
.shade8 { opacity: 0.4; }
.shade9 { opacity: 0.2; }

/* Remaining styles remain the same */
.medium { width: 400px; height: 400px; left: -200px; bottom: -200px; }
.large { width: 600px; height: 600px; left: -300px; bottom: -300px; }
.xlarge { width: 800px; height: 800px; left: -400px; bottom: -400px; }
.xxlarge { width: 1000px; height: 1000px; left: -500px; bottom: -500px; }

@keyframes ripple {
  0% { transform: scale(0.8); }
  50% { transform: scale(1.2); }
  100% { transform: scale(0.8); }
}



.headline1 {
  margin: 0;
  height: 59px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.headline {
  position: relative;
  left: -5px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.description-text {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.descrirtion-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--medium-type18);
}
.input-field4 {
  width: 300px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--medium-type18);
  font-size: var(--font-size-mid);
  background-color: transparent;
  height: 21px;
  position: relative;
  color: #333333;
  text-align: left;
  display: inline-block;
  padding: 0;
}
.frame6,
.input-field3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input-field3 {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-300);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-lgi-5) var(--padding-xl);
}
.frame6 {
  flex-direction: column;
  align-items: flex-start;
}
.input-field6 {
  width: 300px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--medium-type18);
  font-size: var(--font-size-mid);
  background-color: transparent;
  height: 21px;
  position: relative;
  color: #333333;
  text-align: left;
  display: inline-block;
  padding: 0;
}
.input-field5 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi-5) var(--padding-xl);
}
.input-field8 {
  width: 300px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--medium-type18);
  font-size: var(--font-size-mid);
  background-color: transparent;
  height: 21px;
  position: relative;
  color: #333333;
  text-align: left;
  display: inline-block;
  padding: 0;
}
.input-field7 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi-5) var(--padding-xl);
}
.button {
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 500;
  font-family: var(--medium-type18);
  color: var(--w-background);
  text-align: left;
  display: inline-block;
  min-width: 76px;
}
.text-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi-5) var(--padding-xl);
  background-color: var(--st);
  align-self: stretch;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} 

.text-button:hover {
  background-color: var(--color-blueviolet-100);
}
.signup-button-clicked {
  animation: clickAnimation 0.5s ease forwards;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



  /* .invalid-button {
    background-color: #999;
    cursor: not-allowed;
  }
  
  .invalid-button:hover {
    background-color: #999;
    cursor: not-allowed;
    transform: none;
  } */




.frame7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame4,
.frame5,
.frame7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame5 {
  margin: 0;
  gap: var(--gap-5xl);
}
.frame4 {
  position: relative;
  left: 290px;
  width: 502px;
  gap: var(--gap-11xl);
}
.description1 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link {
  position: relative;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.link:hover{
  cursor: pointer;
}
.description-link,
.left-aligned-link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
.description-link {
  position: relative;
  left: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-300);
  font-family: var(--medium-type18);
}
.vector-icon13 {
  position: absolute;
  top: 36px;
  left: 0;
  width: 222.2px;
  height: 254.4px;
  object-fit: contain;
}
.circle-shape {
  position: absolute;
  top: 240px;
  left: 133px;
  border-radius: 50%;
  background-color: var(--color-blueviolet-400);
  filter: blur(500px);
  width: 500px;
  height: 500px;
  z-index: 1;
}
.objects-container-icon {
  position: absolute;
  top: 0;
  left: 77px;
  width: 50.7px;
  height: 48.7px;
  object-fit: contain;
  z-index: 1;
}
.vector-parent1 {
  width: 316px;
  height: 434px;
  position: absolute;
  margin: 0 !important;
  right: -264px;
  bottom: -107px;
}
.frame-parent56,
.frame-wrapper33 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent56 {
  align-self: stretch;
  align-items: center;
  position: relative;
  gap: var(--gap-28xl);
  flex-shrink: 0;
 
  z-index: 1;
}
.frame-wrapper33 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-87xl) 0 0;
  box-sizing: border-box;
  min-width: 260px;
  max-width: 100%;
  margin-left: -69.8px;
}
.frame-parent55,
.signup-child {
  flex-shrink: 0;
 
}
.frame-parent55 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 2640px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
.signup-child {
  margin-right: -957px;
  width: 520px;
  height: 500px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkgoldenrod);
  filter: blur(500px);
}
.objects-icon3,
.signup {
  position: relative;
  overflow: hidden;
}
.objects-icon3 {
  margin-right: -1074.8000000000002px;
  width: 483.8px;
  height: 483.2px;
  flex-shrink: 0;
  object-fit: contain;
 
}
/* .signup {
  width: 100%;
  height: 723px;
  background-color: var(--w-background);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-245xl) 107px 0;
  box-sizing: border-box;
  gap: 924px;
  letter-spacing: normal;
}  */ 

.input-field input {
  width: 400px; /* Adjust the width as needed */  
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.headline3{
  font-size: 5rem;
  margin-bottom: 20px;
  color: #9747FF;
}

.description-link1{
  margin-top: 15px;
}

.invalid-button{
  background-color: gray;
  opacity: 0.5;
  cursor: not-allowed;
  border: none;
  }
  
  
  .invalid-button:hover {
  
    cursor: not-allowed;
    transform: none;
  }

.link1{
  font-weight: 700;
}

.link1:hover{
  cursor: pointer;
}

.signup {
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;  
  width: 100vw;
  height: 100vh;
  font-family: 'roboto';
}

.welcome-back-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  /* margin-top: 150px;  */
  width: fit-content; 
  justify-content: center; 
  height: fit-content;
 

}

.login-container {

  padding: 20px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* margin-top: 10px; */
}

.input-field {
  margin-bottom: 20px;
}

.text-button {
  width: 100%;
} 

.error-message {
  color: red;
  font-size: 12px;
}  


/* .headline2{
  align-items: center;
} */

/* Media Query for Very Small Screens */
@media only screen and (max-width: 414px) {
.welcome-back-container {
  margin-top: 0;
}

.login-container {
  margin-top: 20px;
  width: 90%;
}

.input-field input {
  width: 100%; /* Make input fields full width */
}
}



