.blog-child {
  width: 500px;
  height: 500px;
  position: absolute;
  margin: 0 !important;
  top: -223px;
  right: 464px;
  border-radius: 50%;
  background-color: var(--color-indianred);
  filter: blur(500px);
}
.teri-galli-mai5 {
  position: relative;
  white-space: nowrap;
}
.teri-galli-mai-wrapper2 {
  width: 228px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.home5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 41px;
  z-index: 1;
}
.city-guides5,
.view-saves4,
.write-a-blog4 {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.city-guides5 {
  font-weight: 800;
  color: var(--st);
  min-width: 80px;
}
.view-saves4,
.write-a-blog4 {
  font-weight: 600;
  min-width: 77px;
}
.write-a-blog4 {
  min-width: 81px;
}
.home-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper52,
.login4 {
  font-size: var(--semibold-type14-size);
  font-family: var(--medium-type18);
}
.frame-wrapper52 {
  width: 447px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.login4 {
  width: 38px;
  position: relative;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  display: inline-block;
  min-width: 38px;
}
.login-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-22xl);
  background-color: var(--w-background);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-wrapper1:hover {
  background-color: var(--color-gainsboro-100);
}
.sign-up4 {
  width: 52px;
  position: relative;
  font-size: var(--semibold-type14-size);
  font-weight: 600;
  font-family: var(--medium-type18);
  color: var(--w-background);
  text-align: center;
  display: inline-block;
  min-width: 52px;
}
.frame-parent49,
.frame-parent50,
.sign-up-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-15xl);
  background-color: var(--st);
  border-radius: var(--br-11xl);
  white-space: nowrap;
}
.sign-up-wrapper2:hover {
  background-color: var(--color-blueviolet-100);
}
.frame-parent49,
.frame-parent50 {
  gap: var(--gap-5xs);
}
.frame-parent49 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--bold-type24-size);
  color: var(--black);
  font-family: var(--font-playfair-display-sc);
}
.best-outdoor-restaurants {
  margin: 0;
  align-self: stretch;
  height: 142.1px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child29 {
  height: 500px;
  width: 500px;
  position: absolute;
  margin: 0 !important;
  top: 129px;
  right: 72px;
  border-radius: 50%;
  background-color: var(--color-blueviolet-400);
  filter: blur(500px);
}
.mask-group-icon {
  height: 70px;
  width: 70px;
  position: relative;
}
.by-riya {
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 69px;
}
.by-riya-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
}
.frame-wrapper56,
.mask-group-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mask-group-parent {
  gap: var(--gap-4xl);
  flex-shrink: 0;
}
.frame-wrapper56 {
  height: 100px;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  font-size: var(--medium-type18-size);
}
.frame-child30 {
  height: 638px;
  width: 650px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.span3 {
  font-size: var(--bold-type24-size);
}
.cafe-name,
.see-on-map {
  position: relative;
}
.see-on-map {
  font-size: var(--semibold-type14-size);
  display: inline-block;
  font-family: var(--medium-type18);
  color: var(--color-blueviolet-300);
  text-align: left;
  min-width: 85px;
}
.see-on-map-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-base);
  background-color: var(--color-lavender-200);
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.see-on-map-wrapper:hover {
  background-color: var(--color-thistle-100);
}
.cafe-name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-xs);
  font-size: var(--font-size-13xl);
}
.book-table {
  position: relative;
  font-size: var(--medium-type18-size);
  display: inline-block;
  font-family: var(--medium-type18);
  color: var(--color-lavender-100);
  text-align: left;
  min-width: 115px;
}
.book-table-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-7xl);
  background-color: var(--color-blueviolet-300);
  border-radius: var(--br-31xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.book-table-wrapper:hover {
  background-color: var(--color-blueviolet-200);
}
.winter-days-are {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.winter-days-are-perfect-if-you-wrapper {
  width: 650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xs) var(--padding-xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.rs {
  font-weight: 500;
}
.price-100-container {
  width: 196px;
  height: 34px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.pancakes-dosa-from {
  font-weight: 500;
}
.must-try-container {
  width: 669px;
  height: 34px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.span4 {
  font-weight: 500;
}
.zomato-rating-container {
  width: 669px;
  height: 34px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.price-100-200-rs-parent {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xl) 0 var(--padding-xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.ellipse-container,
.frame-parent52,
.frame-wrapper55 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent52 {
  width: 650px;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  gap: 21px 312px;
  min-height: 1141px;
  z-index: 1;
}
.ellipse-container,
.frame-wrapper55 {
  align-items: flex-start;
}
.ellipse-container {
  position: relative;
}
.frame-wrapper55 {
  padding: 0 var(--padding-18xl) 0 var(--padding-24xl);
  box-sizing: border-box;
}
.mask-group-icon1 {
  height: 70px;
  width: 70px;
  position: relative;
}
.by-riya1 {
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 69px;
}
.by-riya-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
}
.frame-wrapper58,
.mask-group-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mask-group-group {
  gap: var(--gap-4xl);
  flex-shrink: 0;
}
.frame-wrapper58 {
  height: 100px;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  font-size: var(--medium-type18-size);
}
.frame-child31 {
  height: 638px;
  width: 650px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.span5 {
  font-size: var(--bold-type24-size);
}
.cafe-name1,
.see-on-map1 {
  position: relative;
}
.see-on-map1 {
  font-size: var(--semibold-type14-size);
  display: inline-block;
  font-family: var(--medium-type18);
  color: var(--color-blueviolet-300);
  text-align: left;
  min-width: 85px;
}
.see-on-map-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-base);
  background-color: var(--color-lavender-200);
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.see-on-map-container:hover {
  background-color: var(--color-thistle-100);
}
.cafe-name-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-xs);
  font-size: var(--font-size-13xl);
}
.book-table1 {
  position: relative;
  font-size: var(--medium-type18-size);
  display: inline-block;
  font-family: var(--medium-type18);
  color: var(--color-lavender-100);
  text-align: left;
  min-width: 115px;
}
.book-table-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-7xl);
  background-color: var(--color-blueviolet-300);
  border-radius: var(--br-31xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.book-table-container:hover {
  background-color: var(--color-blueviolet-200);
}
.winter-days-are1 {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.cafe-list {
  width: 650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xs) var(--padding-xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.rs1 {
  font-weight: 500;
}
.price-100-container1 {
  width: 196px;
  height: 34px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.pancakes-dosa-from1 {
  font-weight: 500;
}
.must-try-container1 {
  width: 669px;
  height: 34px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.span6 {
  font-weight: 500;
}
.zomato-rating-container1 {
  width: 669px;
  height: 34px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.author-info,
.frame-parent54 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.author-info {
  width: 650px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xl) 0 var(--padding-xl) 0;
}
.frame-parent54 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: 21px 312px;
  min-height: 1141px;
}
.vector-icon5 {
  height: 30px;
  width: 32px;
  position: relative;
}
.like-this-blog {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 129px;
}
.download-button,
.travel-company {
  display: flex;
  align-items: flex-start;
}
.download-button {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.travel-company {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.flag-button-child {
  height: 47px;
  width: 171px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-orangered-100);
  display: none;
}
.flag-this-blog {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--medium-type18);
  color: var(--w-background);
  text-align: left;
  display: inline-block;
  min-width: 127px;
  z-index: 1;
}
.flag-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-3xl);
  background-color: var(--color-orangered-100);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.flag-button:hover {
  background-color: var(--color-orangered-200);
}
.oval-shape,
.oval-shape-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.oval-shape {
  width: 515px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.oval-shape-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 63px;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.frame-parent53,
.frame-wrapper57 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent53 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 74.8px;
}
.frame-wrapper57 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-24xl) 38.4px var(--padding-18xl);
  box-sizing: border-box;
}
.rectangle {
  width: 730px;
  height: 167px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  display: none;
  max-width: 100%;
}
.amyrobson,
.oval-icon {
  position: relative;
  z-index: 1;
}
.oval-icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.amyrobson {
  font-weight: 500;
  display: inline-block;
  min-width: 87px;
}
.amyrobson-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.month-ago {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.amyrobson-profile,
.month-ago-indicator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.month-ago-indicator {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  color: var(--grayish-blue);
}
.amyrobson-profile {
  height: 32px;
  width: 243px;
  flex-direction: row;
  gap: var(--gap-base);
}
.reply {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
  z-index: 1;
}
.reply-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  color: var(--moderate-blue);
}
.amyrobson-profile-parent {
  width: 606px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.impressive-though-i {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--grayish-blue);
  z-index: 1;
}
.group-7-copy-3,
.rectangle1 {
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  max-width: 100%;
}
.group-7-copy-3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-5xl)
    var(--padding-69xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.rectangle1 {
  width: 730px;
  height: 167px;
  position: relative;
  display: none;
}
.maxblagun,
.oval-icon1 {
  position: relative;
  z-index: 1;
}
.oval-icon1 {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.maxblagun {
  font-weight: 500;
  display: inline-block;
  min-width: 87px;
}
.maxblagun-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.weeks-ago {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.oval-parent,
.weeks-ago-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.weeks-ago-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  color: var(--grayish-blue);
}
.oval-parent {
  height: 32px;
  width: 241px;
  flex-direction: row;
  gap: var(--gap-mini);
}
.reply1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
  z-index: 1;
}
.frame-parent55,
.reply-container {
  display: flex;
  align-items: flex-start;
}
.reply-container {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  color: var(--moderate-blue);
}
.frame-parent55 {
  width: 606px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.woah-your-project {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--grayish-blue);
  z-index: 1;
}
.group-7-copy-3-parent,
.rectangle-parent11 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.rectangle-parent11 {
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-5xl)
    var(--padding-69xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
}
.group-7-copy-3-parent {
  gap: var(--gap-xl);
  font-size: var(--body-m-size);
  color: var(--dark-blue);
  font-family: var(--body-m);
}
.frame-parent51,
.frame-wrapper54,
.group-7-copy-3-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent51 {
  width: 730px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 123.6px;
}
.frame-wrapper54 {
  width: 1134px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-2xl);
}
.best-outdoor-restaurants-and-c-parent,
.frame-wrapper53 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.best-outdoor-restaurants-and-c-parent {
  flex: 1;
  flex-direction: column;
  gap: 232.9px;
}
.frame-wrapper53 {
  width: 1298px;
  flex-direction: row;
  padding: 0 76px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--bold-type70-size);
  color: var(--text-color);
  font-family: var(--medium-type18);
}
.frame-parent48,
.travel-logo {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent48 {
  width: 1337px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 188px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-86xl);
}
.travel-logo {
  align-self: stretch;
  width: 500px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkgoldenrod);
  filter: blur(500px);
  max-width: 100%;
}
.travel-logo-wrapper {
  width: 1336px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.vector-icon6 {
  height: 40px;
  width: 40px;
  position: relative;
}
.travelo {
  height: 30px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.vector-parent {
  width: 138px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.travelo-is-southeast {
  align-self: stretch;
  height: 150px;
  position: relative;
  font-weight: 500;
  color: var(--color-darkgray-100);
  display: flex;
  align-items: center;
}
.frame-parent57 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.download-app {
  width: 173px;
  height: 30px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.app-logo-icon,
.app-logo-icon1 {
  height: 44.6px;
  width: 155px;
  position: relative;
  object-fit: cover;
  min-height: 45px;
}
.app-logo-parent,
.booking-process,
.privacy-notice-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.booking-process,
.privacy-notice-title {
  flex-direction: column;
  gap: var(--gap-xl);
  max-width: 100%;
}
.booking-process {
  width: 368px;
  gap: var(--gap-21xl);
  min-width: 368px;
}
.about1 {
  width: 73px;
  height: 30px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.carreer,
.contact-us,
.help-center1,
.how-to-book {
  height: 30px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.how-to-book {
  align-self: stretch;
}
.carreer,
.contact-us,
.help-center1 {
  width: 97px;
}
.carreer,
.help-center1 {
  width: 104px;
}
.carreer {
  width: 66px;
}
.how-to-book-parent,
.products-and-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.how-to-book-parent {
  align-self: stretch;
  gap: var(--gap-11xl);
  font-size: var(--medium-type18-size);
  color: var(--color-darkgray-100);
}
.products-and-services {
  width: 111px;
  gap: var(--gap-41xl);
}
.products {
  align-self: stretch;
  height: 30px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.flights,
.hotels,
.trains,
.villas {
  height: 30px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.flights,
.hotels {
  align-self: stretch;
}
.trains,
.villas {
  width: 49px;
}
.villas {
  width: 45px;
}
.flights-parent,
.products-and-services1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flights-parent {
  width: 58px;
  gap: var(--gap-11xl);
  font-size: var(--medium-type18-size);
  color: var(--color-darkgray-100);
}
.products-and-services1 {
  width: 107px;
  gap: var(--gap-41xl);
}
.other {
  width: 69px;
  height: 30px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.blog2,
.privacy-notice {
  height: 30px;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.blog2 {
  width: 41px;
}
.privacy-notice {
  align-self: stretch;
}
.blog-footer,
.privacy-notice-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog-footer {
  align-self: stretch;
  gap: var(--gap-11xl);
  font-size: var(--medium-type18-size);
  color: var(--color-darkgray-100);
}
.privacy-notice-body {
  width: 124px;
  gap: var(--gap-41xl);
}
.booking-process-parent,
.products-and-services-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.products-and-services-parent {
  justify-content: flex-start;
  gap: var(--gap-50xl);
  min-width: 480px;
}
.booking-process-parent {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 165px;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-child32,
.group-icon1 {
  height: 30px;
  width: 30px;
  position: relative;
  min-height: 30px;
}
.union-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.union-wrapper {
  height: 30px;
  width: 30px;
  border-radius: var(--br-81xl);
  background-color: var(--st);
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.frame-footer,
.frame-parent58,
.union-wrapper {
  display: flex;
  flex-direction: row;
}
.frame-parent58 {
  height: 30px;
  width: 154px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-footer {
  align-self: stretch;
  background-color: #f3f3f3;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 976px var(--padding-xl) var(--padding-xl);
}
.blog1,
.frame-parent56 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent56 {
  margin-right: -52px;
  width: 1440px;
  align-items: flex-start;
  gap: 90px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.blog1 {
  width: 100%;
  height: 3763px;
  position: relative;
  background-color: var(--w-background);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-12xl) 46px 158px var(--padding-7xs);
  box-sizing: border-box;
  gap: 1434px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--bold-type24-size);
  color: var(--black);
  font-family: var(--medium-type18);
}
@media screen and (max-width: 1225px) {
  .frame-parent52,
  .frame-parent54 {
    gap: 21px 156px;
  }
  .best-outdoor-restaurants-and-c-parent {
    gap: 116px 232.9px;
  }
  .frame-wrapper53 {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .frame-parent48 {
    padding-bottom: 79px;
    box-sizing: border-box;
  }
  .booking-process,
  .products-and-services-parent {
    flex: 1;
  }
  .booking-process-parent {
    flex-wrap: wrap;
  }
  .frame-footer {
    padding-right: 488px;
    box-sizing: border-box;
  }
  .blog1 {
    gap: 717px 1434px;
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .home-parent1 {
    display: none;
  }
  .frame-wrapper52 {
    width: 0;
  }
  .frame-parent48 {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
  .booking-process,
  .products-and-services-parent {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent50 {
    display: none;
  }
  .best-outdoor-restaurants {
    font-size: var(--font-size-37xl);
  }
  .frame-parent52 {
    gap: 21px 78px;
  }
  .frame-wrapper55 {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
  .frame-parent54 {
    gap: 21px 78px;
  }
  .oval-shape {
    flex-wrap: wrap;
  }
  .oval-shape-wrapper {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .frame-parent53 {
    gap: 37px 74.8px;
  }
  .frame-wrapper57 {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .amyrobson-profile-parent {
    flex-wrap: wrap;
  }
  .group-7-copy-3 {
    padding-left: var(--padding-25xl);
    box-sizing: border-box;
  }
  .frame-parent55 {
    flex-wrap: wrap;
  }
  .rectangle-parent11 {
    padding-left: var(--padding-25xl);
    box-sizing: border-box;
  }
  .frame-parent51 {
    gap: 62px 123.6px;
  }
  .best-outdoor-restaurants-and-c-parent {
    gap: 58px 232.9px;
  }
  .frame-parent48 {
    gap: 52px 105px;
    padding-bottom: 33px;
    box-sizing: border-box;
  }
  .products-and-services-parent {
    flex-wrap: wrap;
    gap: 69px 34px;
  }
  .booking-process-parent {
    padding-left: var(--padding-63xl);
    padding-right: var(--padding-63xl);
    box-sizing: border-box;
  }
  .frame-footer {
    padding-right: 244px;
    box-sizing: border-box;
  }
  .frame-parent56 {
    gap: 45px 90px;
  }
  .blog1 {
    gap: 358px 1434px;
  }
}
@media screen and (max-width: 450px) {
  .best-outdoor-restaurants {
    font-size: var(--font-size-23xl);
  }
  .mask-group-parent {
    flex-wrap: wrap;
  }
  .frame-wrapper56 {
    height: auto;
  }
  .cafe-name {
    font-size: var(--font-size-lgi);
  }
  .must-try-container,
  .price-100-container,
  .winter-days-are,
  .zomato-rating-container {
    font-size: var(--font-size-mid);
  }
  .frame-parent52 {
    gap: 21px 39px;
  }
  .mask-group-group {
    flex-wrap: wrap;
  }
  .frame-wrapper58 {
    height: auto;
  }
  .cafe-name1 {
    font-size: var(--font-size-lgi);
  }
  .must-try-container1,
  .price-100-container1,
  .winter-days-are1,
  .zomato-rating-container1 {
    font-size: var(--font-size-mid);
  }
  .frame-parent54 {
    gap: 21px 39px;
  }
  .like-this-blog {
    font-size: var(--body-m-size);
  }
  .download-button {
    flex-wrap: wrap;
  }
  .frame-parent53 {
    gap: 19px 74.8px;
  }
  .group-7-copy-3,
  .rectangle-parent11 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent51 {
    gap: 31px 123.6px;
  }
  .best-outdoor-restaurants-and-c-parent {
    gap: 29px 232.9px;
  }
  .frame-parent48 {
    gap: 26px 105px;
  }
  .travelo,
  .travelo-is-southeast {
    font-size: var(--font-size-lgi);
  }
  .frame-parent57 {
    gap: 30px 60px;
  }
  .download-app {
    font-size: var(--font-size-lgi);
  }
  .app-logo-parent {
    flex-wrap: wrap;
  }
  .booking-process {
    gap: 20px 40px;
  }
  .about1,
  .other,
  .products {
    font-size: var(--font-size-lgi);
  }
  .booking-process-parent {
    padding-left: var(--padding-xl);
  }
  .booking-process-parent,
  .frame-footer {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent56 {
    gap: 22px 90px;
  }
  .blog1 {
    height: auto;
    gap: 179px 1434px;
  }
}
