.create-a-blog-child {
  width: 500px;
  height: 500px;
  position: absolute;
  margin: 0 !important;
  top: -223px;
  left: -356px;
  border-radius: 50%;
  background-color: var(--color-indianred);
  filter: blur(500px);
}
.teri-galli-mai3 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.teri-galli-mai-frame {
  width: 245px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.home3 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 41px;
}
.city-guides3,
.view-saves3,
.write-a-blog3 {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.city-guides3 {
  font-weight: 800;
  color: var(--st);
  min-width: 80px;
}
.view-saves3,
.write-a-blog3 {
  font-weight: 600;
  min-width: 77px;
}
.write-a-blog3 {
  min-width: 81px;
}
.city-guides-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.blog {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.blog-wrapper,
.frame-parent32,
.home-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog-wrapper {
  width: 253px;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--bold-type70-size);
  color: var(--color-black);
}
.frame-parent32,
.home-group {
  max-width: 100%;
}
.frame-parent32 {
  flex: 1;
  flex-direction: column;
  gap: 97px;
  min-width: 227px;
}
.home-group {
  align-self: stretch;
  flex-direction: row;
  gap: 56px;
}
.frame-wrapper24,
.login3 {
  font-size: var(--semibold-type14-size);
  font-family: var(--medium-type18);
}
.frame-wrapper24 {
  width: 447px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.login3 {
  width: 38px;
  position: relative;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  display: inline-block;
  min-width: 38px;
}
.login-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-22xl);
  background-color: var(--w-background);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-frame:hover {
  background-color: var(--color-gainsboro-100);
}
.sign-up3 {
  width: 52px;
  position: relative;
  font-size: var(--semibold-type14-size);
  font-weight: 600;
  font-family: var(--medium-type18);
  color: var(--w-background);
  text-align: center;
  display: inline-block;
  min-width: 52px;
}
.frame-parent31,
.frame-parent33,
.sign-up-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-15xl);
  background-color: var(--st);
  border-radius: var(--br-11xl);
  white-space: nowrap;
}
.name-of-place-input-field:hover,
.sign-up-frame:hover {
  background-color: var(--color-blueviolet-100);
}
.frame-parent31,
.frame-parent33 {
  gap: var(--gap-5xs);
}
.frame-parent31 {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--bold-type24-size);
  color: var(--black);
  font-family: var(--font-playfair-display-sc);
}
.input-text-label {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.icon,
.type-here {
  height: 24px;
  position: relative;
}
.type-here {
  width: 304px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.input-field,
.text {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.text {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input-field {
  height: 56px;
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
}
.assistive-text {
  width: 368px;
  height: 18px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-family: var(--font-noto-sans);
  color: var(--color-dimgray);
  display: none;
  max-width: 100%;
}
.text-inputs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.about-blog {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.input-container,
.nameof-place-input-field {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nameof-place-input-field {
  border: 1px solid var(--color-silver-100);
  background-color: var(--color-gainsboro-300);
  height: 231px;
  width: auto;
  outline: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-base);
  font-family: var(--medium-type18);
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.input-container {
  flex-direction: column;
  gap: var(--gap-7xl);
}
.city {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.google-map-link {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  max-width: 100%;
}
.thumbnail,
.thumbnail1 {
  align-self: stretch;
  position: relative;
}
.thumbnail {
  border: 1px solid var(--color-silver-100);
  outline: 0;
  background-color: var(--color-gainsboro-300);
  height: 63px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  min-width: 250px;
}
.thumbnail1 {
  line-height: 18px;
}
.thumbnail-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.frame-child16 {
  height: 175px;
  width: 175px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
}
.h1 {
  margin: 0;
  height: 54px;
  width: 64px;
  position: relative;
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-parent3 {
  width: 175px;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-45xl) var(--padding-25xl) var(--padding-38xl);
  font-size: var(--bold-type70-size);
  color: var(--color-black);
}
.name-of-place-input,
.name-of-place-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.name-of-place-input {
  align-self: stretch;
  justify-content: flex-start;
  gap: 46px;
}
.name-of-place-input-wrapper {
  width: 522px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  min-width: 522px;
}
.add,
.places {
  position: relative;
  display: flex;
  align-items: center;
}
.places {
  margin: 0;
  height: 50px;
  width: 169px;
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.add {
  width: 51px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--medium-type18);
  color: var(--w-background);
  text-align: center;
  justify-content: center;
  min-width: 51px;
}
.name-of-place-input-field,
.places-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.name-of-place-input-field {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xl);
  background-color: var(--st);
  border-radius: 14px;
  overflow: hidden;
  justify-content: flex-start;
}
.places-parent {
  width: 660px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.input-text-label1 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.icon1,
.type-here1 {
  height: 24px;
  position: relative;
}
.type-here1 {
  width: 304px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon1 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.input-field1,
.text1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.text1 {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-93xs);
}
.input-field1 {
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  border: 1px solid var(--color-lightgray);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
}
.assistive-text1 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-family: var(--font-noto-sans);
  color: var(--color-dimgray);
  display: none;
}
.name-of-place {
  width: 280px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.input-text-label2 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.icon2,
.type-here2 {
  height: 24px;
  position: relative;
}
.type-here2 {
  width: 304px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon2 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.input-field2,
.text2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.text2 {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-93xs);
}
.input-field2 {
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  border: 1px solid var(--color-lightgray);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
}
.assistive-text2 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-family: var(--font-noto-sans);
  color: var(--color-dimgray);
  display: none;
}
.google-map-link1 {
  width: 280px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.images2 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.frame-child17 {
  height: 175px;
  width: 175px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
}
.add-place-btn {
  margin: 0;
  height: 32px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.images1,
.rectangle-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent4 {
  width: 175px;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: 70px 62px var(--padding-54xl) var(--padding-45xl);
  font-size: var(--bold-type70-size);
  color: var(--color-black);
}
.images1 {
  width: 522px;
  margin: 0 !important;
  position: absolute;
  top: 142px;
  left: 0;
  flex-direction: column;
  gap: 34px;
  max-width: 100%;
}
.about {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.blog-desc,
.blog-desc-child,
.name-of-place-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog-desc-child {
  border: 1px solid var(--color-silver-100);
  background-color: var(--color-gainsboro-300);
  height: 231px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-lg);
  font-family: var(--medium-type18);
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.blog-desc,
.name-of-place-parent {
  max-width: 100%;
}
.blog-desc {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 405px;
  left: 0;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.name-of-place-parent {
  align-self: stretch;
  height: 680px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 36px 38px;
}
.frame-child18,
.h11 {
  position: absolute;
  margin: 0 !important;
}
.h11 {
  width: 46px;
  height: 32px;
  top: 10.98px;
  right: -9.65px;
  font-size: 55px;
  line-height: 18px;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame-child18 {
  width: 500px;
  height: 500px;
  right: -326px;
  bottom: -384px;
  border-radius: 50%;
  background-color: var(--color-blueviolet-400);
  filter: blur(500px);
  z-index: 1;
}
.frame-parent37 {
  align-self: stretch;
  height: 790px;
  border-radius: 17px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 28px var(--padding-17xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray);
}
.frame-parent35,
.frame-parent36 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent36 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4xl);
  min-width: 437px;
  font-size: var(--font-size-31xl);
  color: var(--color-dimgray);
}
.frame-parent35 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 100px;
}
.post {
  width: 142px;
  position: relative;
  font-size: 64px;
  display: flex;
  font-family: var(--medium-type18);
  color: var(--st);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.post-button,
.post-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.post-label {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-56xl);
  background-color: #dfc7ff;
  border-radius: 18px;
  overflow: hidden;
  justify-content: flex-start;
}
.post-label:hover {
  background-color: #c7ade6;
}
.post-button {
  width: 1242px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.create-a-blog,
.frame-parent34,
.image-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent34 {
  flex: 1;
  flex-direction: column;
  gap: 83px;
  max-width: 100%;
}
.create-a-blog,
.image-container1 {
  box-sizing: border-box;
}
.image-container1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray);
  font-family: var(--medium-type18);
}
.create-a-blog {
  width: 100%;
  position: relative;
  background-color: var(--w-background);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-12xl) var(--padding-52xl) 131px var(--padding-54xl);
  gap: 110px;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-parent31 {
    flex-wrap: wrap;
  }
  .name-of-place-input-wrapper {
    flex: 1;
  }
  .frame-parent35 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .h1 {
    font-size: var(--font-size-37xl);
    line-height: 14px;
  }
  .add-place-btn,
  .places {
    font-size: var(--font-size-21xl);
    line-height: 14px;
  }
  .add-place-btn {
    font-size: var(--font-size-37xl);
  }
  .h11 {
    font-size: 44px;
    line-height: 14px;
  }
  .post {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 750px) {
  .text-inputs {
    gap: 16px 32px;
  }
  .google-map-link,
  .thumbnail-parent {
    gap: 16px 33px;
  }
  .name-of-place-input {
    gap: 23px 46px;
  }
  .name-of-place-input-wrapper {
    min-width: 100%;
  }
  .frame-parent37 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent36 {
    min-width: 100%;
  }
  .frame-parent35 {
    gap: 100px 50px;
  }
  .frame-parent34 {
    gap: 41px 83px;
  }
  .create-a-blog {
    gap: 55px 110px;
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .city-guides-parent {
    flex-wrap: wrap;
  }
  .frame-parent32 {
    gap: 48px 97px;
  }
  .home-group {
    flex-wrap: wrap;
    gap: 56px 28px;
  }
  .about-blog,
  .city,
  .input-text-label,
  .thumbnail1 {
    font-size: var(--font-size-xl);
    line-height: 14px;
  }
  .h1,
  .places {
    font-size: var(--font-size-23xl);
    line-height: 11px;
  }
  .places {
    font-size: var(--font-size-11xl);
  }
  .add {
    font-size: var(--font-size-xl);
  }
  .places-parent {
    flex-wrap: wrap;
  }
  .images2,
  .input-text-label1,
  .input-text-label2 {
    font-size: var(--font-size-xl);
    line-height: 14px;
  }
  .add-place-btn {
    font-size: var(--font-size-23xl);
    line-height: 11px;
  }
  .about {
    font-size: var(--font-size-xl);
    line-height: 14px;
  }
  .h11 {
    font-size: 33px;
    line-height: 11px;
  }
  .frame-parent35 {
    gap: 100px 25px;
  }
  .post {
    font-size: 38px;
  }
  .post-label {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent34 {
    gap: 21px 83px;
  }
  .create-a-blog {
    gap: 27px 110px;
  }
}
