.create-a-blog-child {
  width: 500px;
  height: 500px;
  position: absolute;
  margin: 0 !important;
  top: -223px;
  left: -356px;
  border-radius: 50%;
  background-color: var(--color-indianred);
  filter: blur(500px);
}
.teri-galli-mai3 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.city-guides-view {
  width: 245px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.home3 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 41px;
}
.city-guides3,
.view-saves2,
.write-a-blog2 {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.city-guides3 {
  font-weight: 800;
  color: var(--st);
  min-width: 80px;
}
.view-saves2,
.write-a-blog2 {
  font-weight: 600;
  min-width: 77px;
}
.write-a-blog2 {
  min-width: 81px;
}
.blog-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.blog {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.blog-component,
.blog-container-parent,
.home-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog-component {
  width: 253px;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--bold-type70-size);
  color: var(--text-color);
}
.blog-container-parent,
.home-group {
  max-width: 100%;
}
.blog-container-parent {
  flex: 1;
  flex-direction: column;
  gap: 97px;
  min-width: 227px;
}
.home-group {
  align-self: stretch;
  flex-direction: row;
  gap: 56px;
}
.frame-wrapper39,
.login2 {
  font-size: var(--semibold-type14-size);
  font-family: var(--medium-type18);
}
.frame-wrapper39 {
  width: 447px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.login2 {
  width: 38px;
  position: relative;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  display: inline-block;
  min-width: 38px;
}
.login-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-22xl);
  background-color: var(--w-background);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-frame:hover {
  background-color: var(--color-gainsboro-100);
}
.sign-up2 {
  width: 52px;
  position: relative;
  font-size: var(--semibold-type14-size);
  font-weight: 600;
  font-family: var(--medium-type18);
  color: var(--w-background);
  text-align: center;
  display: inline-block;
  min-width: 52px;
}
.city-guides-view-parent,
.frame-parent39,
.sign-up-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-15xl);
  background-color: var(--st);
  border-radius: var(--br-11xl);
  white-space: nowrap;
}
.add-wrapper:hover,
.sign-up-frame:hover {
  background-color: var(--color-blueviolet-100);
}
.city-guides-view-parent,
.frame-parent39 {
  gap: var(--gap-5xs);
}
.city-guides-view-parent {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--bold-type24-size);
  color: var(--black);
  font-family: var(--font-playfair-display-sc);
}
.input-text-label {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.icon,
.type-here {
  height: 24px;
  position: relative;
}
.type-here {
  width: 304px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--body-m-size);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.input-field,
.text {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.text {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input-field {
  height: 56px;
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
}
.assistive-text {
  width: 368px;
  height: 18px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-family: var(--font-noto-sans);
  color: var(--color-dimgray-100);
  display: none;
  max-width: 100%;
}
.text-inputs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.about-blog {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.about-blog-parent,
.frame-textarea {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-textarea {
  border: 1px solid var(--color-silver-100);
  background-color: var(--color-gainsboro-300);
  height: 231px;
  width: auto;
  outline: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-base);
  font-family: var(--medium-type18);
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.about-blog-parent {
  flex-direction: column;
  gap: var(--gap-7xl);
}
.city {
  line-height: 18px;
}
.city,
.frame-child19,
.thumbnail {
  align-self: stretch;
  position: relative;
}
.frame-child19 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-silver-100);
}
.thumbnail {
  line-height: 18px;
}
.rectangle-parent4 {
  align-self: stretch;
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.frame-child20 {
  height: 175px;
  width: 175px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
}
.h1 {
  margin: 0;
  height: 54px;
  width: 64px;
  position: relative;
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.city-parent,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
}
.rectangle-parent5 {
  width: 175px;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-45xl) var(--padding-25xl) var(--padding-38xl);
  font-size: var(--bold-type70-size);
  color: var(--text-color);
}
.city-parent {
  width: 197px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  min-width: 197px;
}
.category {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.post,
.posts-container {
  align-self: stretch;
  flex: 1;
}
.post {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-silver-100);
}
.posts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.comments {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.toggle-icon {
  height: 32px;
  width: 63px;
  position: relative;
}
.toggle-wrapper {
  height: 32px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl);
  box-sizing: border-box;
}
.comments-parent,
.frame-wrapper41,
.toggle-wrapper {
  display: flex;
  align-items: flex-start;
}
.comments-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.frame-wrapper41 {
  width: 218px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.posts-container-parent {
  align-self: stretch;
  height: 322px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-86xl);
}
.frame-parent40,
.frame-wrapper40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper40 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 159px;
}
.frame-parent40 {
  width: 506px;
  flex-direction: row;
  gap: 64px;
  max-width: 100%;
}
.category-container-inner,
.text-inputs-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.text-inputs-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.category-container-inner {
  width: 522px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  min-width: 522px;
}
.add,
.places {
  position: relative;
  display: flex;
  align-items: center;
}
.places {
  margin: 0;
  height: 50px;
  width: 169px;
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.add {
  width: 51px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--medium-type18);
  color: var(--w-background);
  text-align: center;
  justify-content: center;
  min-width: 51px;
}
.add-wrapper,
.more-info-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.add-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xl);
  background-color: var(--st);
  border-radius: var(--br-sm);
  overflow: hidden;
  justify-content: flex-start;
}
.more-info-button {
  width: 660px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.input-text-label1 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.icon1,
.type-here1 {
  height: 24px;
  position: relative;
}
.type-here1 {
  width: 304px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--body-m-size);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon1 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.input-field1,
.text1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.text1 {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-93xs);
}
.input-field1 {
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  border: 1px solid var(--color-lightgray-200);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
}
.assistive-text1 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-family: var(--font-noto-sans);
  color: var(--color-dimgray-100);
  display: none;
}
.name-of-place {
  width: 280px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.input-text-label2 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.icon2,
.type-here2 {
  height: 24px;
  position: relative;
}
.type-here2 {
  width: 304px;
  border: 0;
  outline: 0;
  font-family: var(--font-noto-sans);
  font-size: var(--body-m-size);
  background-color: transparent;
  line-height: 24px;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icon2 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.input-field2,
.text2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.text2 {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: var(--gap-93xs);
}
.input-field2 {
  border-radius: var(--br-5xs);
  background-color: var(--w-background);
  border: 1px solid var(--color-lightgray-200);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
}
.assistive-text2 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-family: var(--font-noto-sans);
  color: var(--color-dimgray-100);
  display: none;
}
.google-map-link {
  width: 280px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.images2 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.frame-child21 {
  height: 175px;
  width: 175px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
}
.images-container1 {
  margin: 0;
  height: 32px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.images1,
.rectangle-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent6 {
  width: 175px;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: 70px 62px var(--padding-54xl) var(--padding-45xl);
  font-size: var(--bold-type70-size);
  color: var(--text-color);
}
.images1 {
  width: 522px;
  margin: 0 !important;
  position: absolute;
  top: 142px;
  left: 0;
  flex-direction: column;
  gap: 34px;
  max-width: 100%;
}
.about {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.blog-desc,
.blog-desc-child,
.name-of-place-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blog-desc-child {
  border: 1px solid var(--color-silver-100);
  background-color: var(--color-gainsboro-300);
  height: 231px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-lg);
  font-family: var(--medium-type18);
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.blog-desc,
.name-of-place-parent {
  max-width: 100%;
}
.blog-desc {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 405px;
  left: 0;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.name-of-place-parent {
  align-self: stretch;
  height: 680px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 36px 38px;
}
.h11,
.place-name-input-child {
  position: absolute;
  margin: 0 !important;
}
.h11 {
  width: 46px;
  height: 32px;
  top: 10.98px;
  right: -9.65px;
  font-size: 55px;
  line-height: 18px;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  display: inline-block;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.place-name-input-child {
  width: 500px;
  height: 500px;
  right: -326px;
  bottom: -384px;
  border-radius: 50%;
  background-color: var(--color-blueviolet-400);
  filter: blur(500px);
  z-index: 1;
}
.place-name-input {
  align-self: stretch;
  height: 790px;
  border-radius: 17px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-9xl) var(--padding-17xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-100);
}
.category-container,
.more-info-button-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.more-info-button-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4xl);
  min-width: 437px;
  font-size: var(--font-size-31xl);
  color: var(--color-dimgray-100);
}
.category-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 100px;
}
.post1 {
  width: 142px;
  position: relative;
  font-size: var(--font-size-45xl);
  display: flex;
  font-family: var(--medium-type18);
  color: var(--st);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.post-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-56xl);
  background-color: #dfc7ff;
  border-radius: var(--br-lg);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.post-wrapper:hover {
  background-color: #c7ade6;
}
.category-container-parent,
.frame-wrapper42 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper42 {
  width: 1242px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.category-container-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 83px;
}
.create-a-blog,
.create-a-blog-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.create-a-blog-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-100);
  font-family: var(--medium-type18);
}
.create-a-blog {
  width: 100%;
  position: relative;
  background-color: var(--w-background);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-12xl) var(--padding-52xl) 131px var(--padding-54xl);
  gap: 110px;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .city-guides-view-parent {
    flex-wrap: wrap;
  }
  .category-container-inner {
    flex: 1;
  }
  .category-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .h1,
  .places {
    font-size: var(--font-size-37xl);
    line-height: 14px;
  }
  .places {
    font-size: var(--font-size-21xl);
  }
  .h11,
  .images-container1 {
    font-size: var(--font-size-37xl);
    line-height: 14px;
  }
  .h11 {
    font-size: var(--font-size-25xl);
  }
  .post1 {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 750px) {
  .text-inputs {
    gap: 16px 32px;
  }
  .city-parent {
    flex: 1;
  }
  .frame-parent40 {
    flex-wrap: wrap;
    gap: 64px 32px;
  }
  .text-inputs-parent {
    gap: 16px 33px;
  }
  .category-container-inner {
    min-width: 100%;
  }
  .place-name-input {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .more-info-button-parent {
    min-width: 100%;
  }
  .category-container {
    gap: 100px 50px;
  }
  .category-container-parent {
    gap: 41px 83px;
  }
  .create-a-blog {
    gap: 55px 110px;
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .blog-container {
    flex-wrap: wrap;
  }
  .blog-container-parent {
    gap: 48px 97px;
  }
  .home-group {
    flex-wrap: wrap;
    gap: 56px 28px;
  }
  .about-blog,
  .city,
  .input-text-label,
  .thumbnail {
    font-size: var(--font-size-xl);
    line-height: 14px;
  }
  .h1 {
    font-size: var(--font-size-23xl);
    line-height: 11px;
  }
  .category,
  .comments {
    font-size: var(--font-size-xl);
    line-height: 14px;
  }
  .frame-parent40 {
    gap: 64px 16px;
  }
  .places {
    font-size: var(--font-size-11xl);
    line-height: 11px;
  }
  .add {
    font-size: var(--font-size-xl);
  }
  .more-info-button {
    flex-wrap: wrap;
  }
  .images2,
  .input-text-label1,
  .input-text-label2 {
    font-size: var(--font-size-xl);
    line-height: 14px;
  }
  .images-container1 {
    font-size: var(--font-size-23xl);
    line-height: 11px;
  }
  .about {
    font-size: var(--font-size-xl);
    line-height: 14px;
  }
  .h11 {
    font-size: 33px;
    line-height: 11px;
  }
  .category-container {
    gap: 100px 25px;
  }
  .post1 {
    font-size: var(--font-size-19xl);
  }
  .post-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .category-container-parent {
    gap: 21px 83px;
  }
  .create-a-blog {
    gap: 27px 110px;
  }
}
