body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --medium-type18: "Plus Jakarta Sans";
  --font-playfair-display-sc: "Playfair Display SC";
  --font-outfit: Outfit;
  --font-inter: Inter;
  --font-noto-sans: "Noto Sans";
  --font-montserrat: Montserrat;
  --body-m: Rubik;

  /* font sizes */
  --semibold-type14-size: 14px;
  --medium-type18-size: 18px;
  --bold-type70-size: 70px;
  --font-size-37xl: 56px;
  --font-size-23xl: 42px;
  --bold-type24-size: 24px;
  --font-size-lgi: 19px;
  --font-size-32xl: 51px;
  --font-size-12xl: 31px;
  --font-size-33xl: 52px;
  --font-size-xl: 20px;
  --body-m-size: 16px;
  --font-size-sm-7: 13.7px;
  --font-size-6xl: 25px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-xs: 12px;
  --font-size-5xs-3: 7.3px;
  --font-size-3xs: 10px;
  --font-size-16xl: 35px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-25xl: 44px;
  --font-size-smi: 13px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-13xl: 32px;

  /* Colors */
  --w-background: #fff;
  --color-blueviolet-100: #ad52ff;
  --color-blueviolet-200: #9c3bff;
  --st: #872bff;
  --color-blueviolet-300: #7413f2;
  --color-blueviolet-400: rgba(151, 71, 255, 0.5);
  --color-darkgray-100: #a8a8a8;
  --color-darkgray-200: #999;
  --color-gray-100: #8c8c8c;
  --color-gray-200: #1e1e1e;
  --black: #1c1c1c;
  --color-gray-400: rgba(34, 34, 34, 0.9);
  --dark-all-content: rgba(31, 31, 31, 0.8);
  --input-box-stroke-thin: rgba(0, 0, 0, 0.15);
  --color-gray-300: rgba(140, 140, 140, 0.09);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(217, 217, 217, 0.65);
  --color-gainsboro-300: rgba(217, 217, 217, 0);
  --color-indianred: rgba(202, 76, 86, 0.5);
  --color-darkgoldenrod: rgba(217, 149, 47, 0.5);
  --text-color: #000;
  --color-silver-100: #c0c0c0;
  --color-silver-200: #bfbfbf;
  --color-thistle-100: #d9cfe3;
  --color-thistle-200: #d9c2f7;
  --color-orangered-100: #ff5722;
  --color-orangered-200: #e63d08;
  --dark-blue: #334253;
  --color-darkslategray-100: #333;
  --inactive-state-color: rgba(73, 69, 79, 0.8);
  --color-ghostwhite: #efeffa;
  --color-dimgray-100: #666;
  --color-lightgray-100: #cecece;
  --color-lightgray-200: #ccc;
  --color-lavender-100: #f1e7fe;
  --color-lavender-200: #f1e7fd;
  --grayish-blue: #67727e;
  --moderate-blue: #5357b6;
  --color-palegreen-100: #b1fc83;
  --color-lightgreen-100: #96e369;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-17xl: 36px;
  --gap-3xs: 10px;
  --gap-159xl: 178px;
  --gap-5xs: 8px;
  --gap-774xl-1: 793.1px;
  --gap-11xl: 30px;
  --gap-61xl: 80px;
  --gap-mini: 15px;
  --gap-lg: 18px;
  --gap-4xl: 23px;
  --gap-1712xl: 1731px;
  --gap-197xl: 216px;
  --gap-414xl: 433px;
  --gap-846xl: 865px;
  --gap-232xl: 251px;
  --gap-12xl: 31px;
  --gap-44xl: 63px;
  --gap-106xl: 125px;
  --gap-43xl: 62px;
  --gap-2xl: 21px;
  --gap-xs: 12px;
  --gap-sm: 14px;
  --gap-7xl: 26px;
  --gap-13xl: 32px;
  --gap-93xs: -80px;
  --gap-14xl: 33px;
  --gap-86xl: 105px;
  --gap-27xl: 46px;
  --gap-base: 16px;
  --gap-12xs-2: 0.2px;
  --gap-50xl: 69px;
  --gap-41xl: 60px;
  --gap-52xl: 71px;

  /* Paddings */
  --padding-8xl: 27px;
  --padding-25xl: 44px;
  --padding-56xl: 75px;
  --padding-16xl: 35px;
  --padding-base: 16px;
  --padding-12xs: 1px;
  --padding-13xl: 32px;
  --padding-15xl: 34px;
  --padding-22xl: 41px;
  --padding-4xs: 9px;
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-430xl: 449px;
  --padding-273xl: 292px;
  --padding-10xs: 3px;
  --padding-39xl: 58px;
  --padding-11xl: 30px;
  --padding-38xl: 57px;
  --padding-37xl: 56px;
  --padding-2xs: 11px;
  --padding-17xl: 36px;
  --padding-173xl: 192px;
  --padding-106xl: 125px;
  --padding-5xl-5: 24.5px;
  --padding-14xl-5: 33.5px;
  --padding-10xs-5: 2.5px;
  --padding-4xl: 23px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-6xs: 7px;
  --padding-lgi: 19px;
  --padding-8xs: 5px;
  --padding-3xs-8: 9.8px;
  --padding-mini-2: 14.2px;
  --padding-2xs-7: 10.7px;
  --padding-103xl: 122px;
  --padding-528xl-6: 547.6px;
  --padding-212xl: 231px;
  --padding-337xl: 356px;
  --padding-9xl: 28px;
  --padding-7xl: 26px;
  --padding-2xl: 21px;
  --padding-20xl: 39px;
  --padding-6xl: 25px;
  --padding-mini: 15px;
  --padding-9xs: 4px;
  --padding-mid: 17px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-3xl: 22px;
  --padding-3xs: 10px;
  --padding-lg: 18px;
  --padding-69xl: 88px;
  --padding-smi: 13px;
  --padding-52xl: 71px;
  --padding-54xl: 73px;
  --padding-45xl: 64px;
  --padding-26xl: 45px;
  --padding-60xl-1: 79.1px;
  --padding-21xl-9: 40.9px;
  --padding-32xl: 51px;
  --padding-mid-1: 17.1px;
  --padding-5xl: 24px;
  --padding-11xs-5: 1.5px;
  --padding-24xl-4: 43.4px;
  --padding-7xl-3: 26.3px;
  --padding-19xl: 38px;
  --padding-11xs-7: 1.7px;
  --padding-63xl: 82px;
  --padding-24xl: 43px;
  --padding-18xl: 37px;
  --padding-sm-5: 13.5px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-81xl: 100px;
  --br-38xl: 57px;
  --br-sm: 14px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-53xl-7: 72.7px;
  --br-base: 16px;
  --br-lg: 18px;
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-6xs: 7px;
  --br-31xl: 50px;

  /* Effects */
  --default-shadow-4-6-15: 0px 4px 6px rgba(0, 0, 0, 0.15);
  --thin-shadow-2-2-10: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
