.frame-child22 {
  position: absolute;
  top: -219px;
  left: -287px;
  border-radius: 50%;
  background-color: var(--color-indianred);
  filter: blur(500px);
  width: 500px;
  height: 500px;
}
.vector-icon11,
.vector-icon12 {
  position: absolute;
  top: 105px;
  left: 25px;
  width: 309.8px;
  height: 291.6px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon12 {
  top: 121.4px;
  left: 209.1px;
  width: 47.4px;
  height: 44.6px;
  z-index: 2;
}
.ellipse-parent1 {
  height: 396.6px;
  width: 334.8px;
  position: relative;
  min-width: 334.8000000000002px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.headline1 {
  margin: 0;
  height: 59px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.headline {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.description-text {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.descrirtion-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--medium-type18);
}
.input-field4 {
  width: 83px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--medium-type18);
  font-size: var(--font-size-mid);
  background-color: transparent;
  height: 21px;
  position: relative;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.frame6,
.input-field3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input-field3 {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-300);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-lgi-5) var(--padding-xl);
}
.frame6 {
  flex-direction: column;
  align-items: flex-start;
}
.input-field6 {
  width: 44px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--medium-type18);
  font-size: var(--font-size-mid);
  background-color: transparent;
  height: 21px;
  position: relative;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.input-field5 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi-5) var(--padding-xl);
}
.input-field8 {
  width: 80px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--medium-type18);
  font-size: var(--font-size-mid);
  background-color: transparent;
  height: 21px;
  position: relative;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.input-field7 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi-5) var(--padding-xl);
}
.button {
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 500;
  font-family: var(--medium-type18);
  color: var(--w-background);
  text-align: left;
  display: inline-block;
  min-width: 127px;
}
.text-button {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--st);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi-5) var(--padding-xl);
  white-space: nowrap;
}
.frame7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame4,
.frame5,
.frame7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame5 {
  margin: 0;
  gap: var(--gap-5xl);
}
.frame4 {
  gap: var(--gap-11xl);
  max-width: 100%;
}
.description1 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link {
  position: relative;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
  min-width: 37px;
  white-space: nowrap;
}
.description-link,
.left-aligned-link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
.description-link {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-300);
  font-family: var(--medium-type18);
}
.vector-icon13 {
  position: absolute;
  top: 36px;
  left: 0;
  width: 222.2px;
  height: 254.4px;
  object-fit: contain;
}
.circle-shape {
  position: absolute;
  top: 240px;
  left: 133px;
  border-radius: 50%;
  background-color: var(--color-blueviolet-400);
  filter: blur(500px);
  width: 500px;
  height: 500px;
  z-index: 1;
}
.objects-container-icon {
  position: absolute;
  top: 0;
  left: 77px;
  width: 50.7px;
  height: 48.7px;
  object-fit: contain;
  z-index: 1;
}
.vector-parent1 {
  width: 316px;
  height: 434px;
  position: absolute;
  margin: 0 !important;
  right: -264px;
  bottom: -107px;
}
.frame-parent56,
.frame-wrapper33 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent56 {
  align-self: stretch;
  align-items: center;
  position: relative;
  gap: var(--gap-28xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frame-wrapper33 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-87xl) 0 0;
  box-sizing: border-box;
  min-width: 260px;
  max-width: 100%;
  margin-left: -69.8px;
}
.frame-parent55,
.signup-child {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent55 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 2640px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
.signup-child {
  margin-right: -957px;
  width: 520px;
  height: 500px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkgoldenrod);
  filter: blur(500px);
}
.objects-icon3,
.signup {
  position: relative;
  overflow: hidden;
}
.objects-icon3 {
  margin-right: -1074.8000000000002px;
  width: 483.8px;
  height: 483.2px;
  flex-shrink: 0;
  object-fit: contain;
  debug_commit: f6aba90;
}
.signup {
  width: 100%;
  height: 723px;
  background-color: var(--w-background);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-245xl) 107px 0;
  box-sizing: border-box;
  gap: 924px;
  letter-spacing: normal;
}
@media screen and (max-width: 800px) {
  .ellipse-parent1 {
    flex: 1;
  }
  .headline1 {
    font-size: var(--font-size-21xl);
  }
  .frame-parent55 {
    flex-wrap: wrap;
  }
  .signup {
    height: auto;
  }
}
@media screen and (max-width: 675px) {
  .frame-wrapper33 {
    margin-left: 0;
  }
  .frame-parent55 {
    padding-bottom: 725px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .headline1 {
    font-size: var(--font-size-11xl);
  }
  .frame-parent56 {
    gap: 23px 47px;
  }
  .signup {
    gap: 462px 924px;
    padding-right: var(--padding-113xl);
    box-sizing: border-box;
  }
}
