<div class="main-content">
    <div class="profile-section">
      <div class="username-section">
        <div class="profile-photo">
  
        </div>
        <div class="user-details">
          <div class="username">
            <div class="name">
              <H1>
                <span>heyy, </span>
                <span class="name-of-user">Atharva</span>
              </H1>
            </div>
            <!-- <div class="edit-button"> -->
              <button class="edit-name-button">Edit</button>
            <!-- </div> -->
          </div>
          <div class="points-section">
            <p><b>200 points</b></p>
          </div>
          <div class="upload-photo-option">
            <button class="upload-photo-button">
              Upload Photo
            </button>
          </div>
        </div>
      </div>
      <div class="about-user-section">
        <div class="email-section-wrapper">
          <div class="tag">
            Email
          </div>
          <div class="email">
            <div class="email-id">
              <p>athzanwar&#64;gmail.com</p>
            </div>
            <button class="edit-name-button">Edit</button>
          </div>
        </div>
        <div class="about-section-wrapper">
          <div class="tag" id="about-me-tag">
            About Atharva
          </div>
          <div class="user-bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt similique vel obcaecati temporibus dicta hic? Modi facilis iste temporibus quia!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="myblogs-section">
      <div class="my-blogs-text-wrapper">
        <div class="my-blog-text">
          <p>My Blogs</p>
        </div>
      </div>
      <div class="blog-renders-wrapper">
        
        <div class="blog-renders">
          <app-smaller-blog></app-smaller-blog>
          <div class="edit-delete-buttons">
            <button class="edit-button">
              <div class="edit">Edit</div>
            </button>
            <button class="delete-button">
              <div class="delete">Delete</div>
            </button>
          </div>
        </div>
  
        <div class="blog-renders">
          <app-smaller-blog></app-smaller-blog>
          <div class="edit-delete-buttons">
            <button class="edit-button">
              <div class="edit">Edit</div>
            </button>
            <button class="delete-button">
              <div class="delete">Delete</div>
            </button>
          </div>
        </div>
  
        <div class="blog-renders">
          <app-smaller-blog></app-smaller-blog>
          <div class="edit-delete-buttons">
            <button class="edit-button">
              <div class="edit">Edit</div>
            </button>
            <button class="delete-button">
              <div class="delete">Delete</div>
            </button>
          </div>
        </div>
  
        <div class="blog-renders">
          <app-smaller-blog></app-smaller-blog>
          <div class="edit-delete-buttons">
            <button class="edit-button">
              <div class="edit">Edit</div>
            </button>
            <button class="delete-button">
              <div class="delete">Delete</div>
            </button>
          </div>
        </div>
  
        <div class="blog-renders">
          <app-smaller-blog></app-smaller-blog>
          <div class="edit-delete-buttons">
            <button class="edit-button">
              <div class="edit">Edit</div>
            </button>
            <button class="delete-button">
              <div class="delete">Delete</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>