<div class="profile-page">
    <div class="profile-page-child"></div>
    <img class="profile-page-item" alt="" src="./public/frame-50@2x.png" />

    <div class="frame-parent">
      <nav class="frame-group">
        <div class="teri-galli-mai-wrapper">
          <h2 class="teri-galli-mai">Teri Galli Mai</h2>
        </div>
        <div class="home-wrapper">
          <div class="home">Home</div>
        </div>
        <div class="city-guides-wrapper">
          <div class="city-guides">City Guides</div>
        </div>
        <div class="frame-container">
          <div class="frame-div">
            <div class="frame-wrapper">
              <div class="frame-parent1">
                <img
                  class="frame-child"
                  loading="lazy"
                  alt=""
                  src="./public/group-2@2x.png"
                />

                <div class="sid">Sid</div>
              </div>
            </div>
            <img
              class="arrow-icon"
              loading="lazy"
              alt=""
              src="./public/arrow.svg"
            />
          </div>
          <div class="frame-parent2">
            <div class="frame-wrapper1">
              <div class="frame-parent3">
                <img
                  class="frame-item"
                  loading="lazy"
                  alt=""
                  src="./public/group-2-1@2x.png"
                />

                <div class="frame-parent4">
                  <div class="frame-parent5">
                    <div class="sardor-wrapper">
                      <div class="sardor">Sardor</div>
                    </div>
                    <div class="pro-wrapper">
                      <b class="pro">PRO</b>
                    </div>
                  </div>
                  <div class="sardormailcom">sardormail.com</div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper2">
              <div class="frame-wrapper3">
                <div class="settings-parent">
                  <img
                    class="settings-icon"
                    alt=""
                    src="./public/settings@2x.png"
                  />

                  <div class="profile-settings">Profile Settings</div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper4">
              <div class="frame-wrapper5">
                <div class="help-parent">
                  <img class="help-icon" alt="" src="./public/help@2x.png" />

                  <div class="help-center">Help Center</div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper6">
              <div class="frame-wrapper7">
                <div class="dark-mode-parent">
                  <img
                    class="dark-mode-icon"
                    alt=""
                    src="./public/dark-mode@2x.png"
                  />

                  <div class="dark-mode">Dark Mode</div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper8">
              <div class="frame-wrapper9">
                <div class="upgrade-parent">
                  <img
                    class="upgrade-icon"
                    alt=""
                    src="./public/upgrade.svg"
                  />

                  <div class="upgrade-plan">Upgrade Plan</div>
                </div>
              </div>
            </div>
            <div class="line-parent">
              <div class="frame-inner"></div>
              <div class="frame-wrapper10">
                <div class="frame-wrapper11">
                  <div class="sign-out-parent">
                    <img
                      class="sign-out-icon"
                      alt=""
                      src="./public/sign-out.svg"
                    />

                    <div class="sign-out">Sign Out</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="frame-wrapper12">
        <main class="frame-main">
          <section class="frame-section">
            <div class="frame-parent6">
              <div class="frame-wrapper13">
                <div class="frame-parent7">
                  <div class="ellipse-parent">
                    <img
                      class="ellipse-icon"
                      loading="lazy"
                      alt=""
                      src="./public/ellipse-255@2x.png"
                    />

                    <div class="frame-wrapper14">
                      <div class="frame-parent8">
                        <div class="heyy-sid-parent">
                          <h3 class="heyy-sid">
                            <span>Heyy, </span>
                            <span class="sid1">Sid</span>
                          </h3>
                          <div class="edit-profile">
                            <div class="edit-wrapper">
                              <div class="edit">Edit</div>
                            </div>
                          </div>
                        </div>
                        <div class="teri-gallary">
                          <div class="component">
                            <div class="chole-paratha">
                              <div class="modify-delete">
                                <div class="newbie">NEWBIE</div>
                              </div>
                              <b class="user-interaction">.</b>
                            </div>
                            <div class="points">200 points</div>
                          </div>
                        </div>
                        <button class="graphic-elements">
                          <div class="upload-photo">Upload Photo</div>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper15">
                    <div class="frame-parent9">
                      <div class="frame-wrapper16">
                        <div class="image-parent">
                          <div class="image">
                            <div class="email">Email</div>
                            <div class="siddxdgrowthxcom">
                              siddxdgrowthx.com
                            </div>
                          </div>
                          <div class="back-ground">
                            <div class="edit-container">
                              <div class="edit1">Edit</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="user-profile">
                        <div class="header-info">
                          <div class="subheader">
                            <div class="about-sid">
                              <span>About</span>
                              <span class="span"> </span>
                              <span class="sid2">Sid</span>
                            </div>
                          </div>
                          <div class="main-content">
                            <div class="edit2">Edit</div>
                          </div>
                        </div>
                        <div class="lorem-ipsum-dolor-container">
                          <p class="lorem-ipsum-dolor">
                            Lorem ipsum dolor sit amet consectetur. Erat
                            auctor a aliquam vel congue luctus. Leo diam cras
                            neque mauris ac arcu elit ipsum dolor sit amet
                            consectetur.
                          </p>
                          <p class="lorem-ipsum-dolor1">
                            Lorem ipsum dolor sit amet consectetur. Erat
                            auctor a aliquam vel congue luctus. Leo diam cras
                            neque mauris ac arcu elit ipsum dolor sit amet
                            consectetur.
                          </p>
                          <p class="lorem-ipsum-dolor2">
                            Lorem ipsum dolor sit amet consectetur. Erat
                            auctor a aliquam vel congue luctus. Leo diam cras
                            neque mauris ac arcu elit ipsum dolor sit amet
                            consectetur.
                          </p>
                          <p class="lorem-ipsum-dolor3">
                            Lorem ipsum dolor sit amet consectetur. Erat
                            auctor a aliquam vel congue luctus. Leo diam cras
                            neque mauris ac arcu elit ipsum dolor sit amet
                            consectetur.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="call-to-action">
                <h1 class="my-blogs">My Blogs</h1>
              </div>
              <div class="modify-parent">
                <div class="modify">
                  <div class="delete">
                    <div class="component-instance">
                      <img
                        class="component-instance-child"
                        alt=""
                        src="./public/rectangle-6@2x.png"
                      />

                      <img
                        class="component-1-icon"
                        loading="lazy"
                        alt=""
                        src="./public/component-1.svg"
                      />
                    </div>
                    <div class="chole-paratha-by-atharva-zanwa-parent">
                      <b class="chole-paratha-by"
                        >Chole paratha by atharva zanwar
                      </b>
                      <div class="likes-count">
                        <b class="k-likes">2k likes</b>
                      </div>
                      <div class="child-components">
                        <div class="interactions">
                          <div class="label-area-wrapper">
                            <img
                              class="label-area-icon"
                              loading="lazy"
                              alt=""
                              src="./public/vector.svg"
                            />
                          </div>
                          <b class="k-views">1.5k views</b>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="likes-zone">
                    <div class="views-zone">
                      <button class="modify-wrapper">
                        <div class="modify1">Modify</div>
                      </button>
                      <button class="actions-panel">
                        <div class="delete1">Delete</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="modify2">
                  <div class="frame-parent10">
                    <div class="rectangle-parent">
                      <img
                        class="rectangle-icon"
                        alt=""
                        src="./public/rectangle-6@2x.png"
                      />

                      <img
                        class="component-1-icon1"
                        loading="lazy"
                        alt=""
                        src="./public/component-1.svg"
                      />
                    </div>
                    <div class="chole-paratha-by-atharva-zanwa-group">
                      <b class="chole-paratha-by1"
                        >Chole paratha by atharva zanwar
                      </b>
                      <div class="k-likes-wrapper">
                        <b class="k-likes1">2k likes</b>
                      </div>
                      <div class="frame-wrapper17">
                        <div class="frame-parent11">
                          <div class="vector-wrapper">
                            <img
                              class="vector-icon"
                              loading="lazy"
                              alt=""
                              src="./public/vector.svg"
                            />
                          </div>
                          <b class="k-views1">1.5k views</b>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modify-inner">
                    <div class="frame-parent12">
                      <button class="modify-container">
                        <div class="modify3">Modify</div>
                      </button>
                      <button class="delete-wrapper">
                        <div class="delete2">Delete</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper18">
                  <div class="component-instance-parent">
                    <div class="component-instance1">
                      <div class="rectangle-group">
                        <img
                          class="frame-child1"
                          alt=""
                          src="./public/rectangle-6@2x.png"
                        />

                        <img
                          class="component-1-icon2"
                          loading="lazy"
                          alt=""
                          src="./public/component-1.svg"
                        />
                      </div>
                      <div class="chole-paratha-by-atharva-zanwa-container">
                        <b class="chole-paratha-by2"
                          >Chole paratha by atharva zanwar
                        </b>
                        <div class="k-views2">
                          <b class="k-likes2">2k likes</b>
                        </div>
                        <div class="frame-wrapper19">
                          <div class="frame-parent13">
                            <div class="vector-container">
                              <img
                                class="vector-icon1"
                                loading="lazy"
                                alt=""
                                src="./public/vector.svg"
                              />
                            </div>
                            <b class="k-views3">1.5k views</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper20">
                      <div class="modify-delete-parent">
                        <button class="modify-delete1">
                          <div class="modify4">Modify</div>
                        </button>
                        <button class="modify-delete2">
                          <div class="delete3">Delete</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="ellipse-div"></div>
        </main>
      </div>
    </div>
    <div class="profile-page-inner"></div>
    <div class="background">
      <img class="background-icon" alt="" src="./public/background@2x.png" />

      <div class="children-containers">
        <div class="shape-holders">
          <img
            class="graphic-elements-icon"
            alt=""
            src="./public/graphic-elements.svg"
          />
        </div>
        <div class="children-containers-child"></div>
      </div>
      <img class="objects-icon" alt="" src="./public/objects@2x.png" />
    </div>
  </div>
