<div class="main-content">
  <div class="profile-section">
    <div class="username-section">
      <div class="profile-photo">

      </div>
      <div class="user-details">
        
      </div>
    </div>
    <div class="about-user-section">
      <div class="email-section-wrapper">

      </div>
      <div class="about-section-wrapper">

      </div>
    </div>
  </div>
  <div class="myblogs-section">
    <div class="my-blogs-text-wrapper">
      <div class="my-blog-text">
        <p>My Blogs</p>
      </div>
    </div>
    <div class="blog-renders-wrapper">
      
      <div class="blog-renders">
        <app-smaller-blog></app-smaller-blog>
        <div class="edit-delete-buttons">
          <button class="edit-button">
            <div class="edit">Edit</div>
          </button>
          <button class="delete-button">
            <div class="delete">Delete</div>
          </button>
        </div>
      </div>

      <div class="blog-renders">
        <app-smaller-blog></app-smaller-blog>
        <div class="edit-delete-buttons">
          <button class="edit-button">
            <div class="edit">Edit</div>
          </button>
          <button class="delete-button">
            <div class="delete">Delete</div>
          </button>
        </div>
      </div>

      <div class="blog-renders">
        <app-smaller-blog></app-smaller-blog>
        <div class="edit-delete-buttons">
          <button class="edit-button">
            <div class="edit">Edit</div>
          </button>
          <button class="delete-button">
            <div class="delete">Delete</div>
          </button>
        </div>
      </div>

      <div class="blog-renders">
        <app-smaller-blog></app-smaller-blog>
        <div class="edit-delete-buttons">
          <button class="edit-button">
            <div class="edit">Edit</div>
          </button>
          <button class="delete-button">
            <div class="delete">Delete</div>
          </button>
        </div>
      </div>

      <div class="blog-renders">
        <app-smaller-blog></app-smaller-blog>
        <div class="edit-delete-buttons">
          <button class="edit-button">
            <div class="edit">Edit</div>
          </button>
          <button class="delete-button">
            <div class="delete">Delete</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>