<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="./forgot-password.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="forgot-pass">
      <section class="frame-parent60">
        <div class="ellipse-wrapper1">
          <div class="frame-child25"></div>
        </div>
        <div class="frame11">
          <div class="headline6">
            <h1 class="headline7">Forgot password?</h1>
          </div>
          <div class="frame12">
            <div class="frame13">
              <div class="descrirtion-text2">
                <div class="description-text4">
                  Enter the email address you used when you joined and we’ll
                  send you code to reset your password.
                </div>
              </div>
              <div class="input-field15">
                <input class="input-field16" placeholder="Email" type="text" />
              </div>
            </div>
            <button class="text-button3" id="textButton">
              <div class="button3">Continue</div>
            </button>
          </div>
        </div>
      </section>
      <div class="forgot-pass-child"></div>
      <div class="forgot-pass-item"></div>
      <img class="objects-icon6" alt="" src="../../assets/public/objects@2x.png" />
    </div>

    <script>
      var textButton = document.getElementById("textButton");
      if (textButton) {
        textButton.addEventListener("click", function (e) {
          window.location.href = "./reset-pass.html";
        });
      }
      </script>
  </body>
</html>
