<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="../../../styles.css" />
  <link rel="stylesheet" href="./reset-password.component.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@700&display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700;800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" />
</head>

<body>
  <div class="reset-pass">
    <div class="login-container">
      <div class="forgot-password">
        <div class="headline">
          <h1>Password Reset</h1>
        </div>
        <div class="description">
          <p>Add the password you want to reset for</p>
        </div>
        <div class="input-field">
          <input class="input" placeholder="New Password" type="password" [(ngModel)]="password" name="password"
            #passwordInput="ngModel" minlength="6" required (blur)="passwordInputFocused = false"
            (focus)="passwordInputFocused = true" />
          <div *ngIf="!passwordInputFocused && passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
            class="error-message">
            <!-- Display error messages -->
          </div>
        </div>
        <button class="button-container" (click)="resetPassword()" [disabled]="!password || !passwordInput.valid"
        [ngClass]="{'invalid-button': !passwordInput.valid}">
          <div class="text-button">
            Reset password
          </div>
        </button>
      </div>
    </div>
  </div>
</body>

</html>