.invalid-button {
  background-color: var(--st);
  border: none;
}

.invalid-button:hover {
  background-color: var(--color-blueviolet-100);
  cursor: not-allowed;
  transform: none;
}



.frame-child24 {
    align-self: stretch;
    height: 500px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-indianred);
    filter: blur(500px);
    flex-shrink: 0;
    
  }
  .ellipse-frame {
    margin-left: -551px;
    height: 303px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 232px;
    box-sizing: border-box;
    min-width: 500px;
    max-width: 125%;
    flex-shrink: 0;
  } 
  .headline{
    font-weight: 300px;
  }
  .headline5 {
    margin: 0;
    width: 368px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
  }
  .headline4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-base);
  }
  .description6 {
    position: relative;
    font-weight: 500;
  }
  .description5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .description-text3 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 124px;
  }
  .description-text2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
  }
  .description4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xl) 0 0;
    gap: var(--gap-9xs);
  }
  .input-field14 {
    width: 300px;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--medium-type18);
    font-size: var(--font-size-mid);
    background-color: transparent;
    height: 21px;
    position: relative;
    color:#333333;
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .description-holder,
  .input-field13 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .input-field13 {
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-gray-300);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-lgi-5) var(--padding-xl);
  }
  .description-holder {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-base);
  }
  .button2 {
    position: relative;
    font-size: var(--font-size-mid);
    font-weight: 500;
    font-family: var(--medium-type18);
    color: var(--w-background);
    text-align: left;
  }
  .text-button2 {
    color: white;
    font-size: medium;
    border: none;
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--st);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-lgi-5) var(--padding-xl);
    white-space: nowrap;
  }
  .button-container {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lgi-5) var(--padding-xl);
    background-color: var(--st);
    align-self: stretch;
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    margin-left: 60px;  
    width: 300px;

 


  } 

  .input-field{
    margin-top: 30px; 
    margin-bottom: 30px; 
    
  }
  
  .input-field input{
    width: 80%;
    height: 40px;
  }
  .frame-parent59,
  .frame10,
  .frame9 {
    display: flex;
    justify-content: flex-start;
  }
  .frame10 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-gray-300);
  }
  .frame-parent59,
  .frame9 {
    flex-shrink: 0;
    
  }
  .frame9 {
    position: absolute;
    left: 580px;
    width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    min-width: 400px;
  }
  .frame-parent59 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0 0 var(--padding-245xl);
    box-sizing: border-box;
    gap: 51px;
    min-height: 513px;
    text-align: center;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
    font-family: var(--medium-type18);
  }
  .reset-pass-child,
  .reset-pass-item {
    margin-right: -582px;
    margin-bottom: 3135px;
    width: 520px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-blueviolet-400);
    filter: blur(500px);
    flex-shrink: 0;
    
  }
  .reset-pass-item {
    margin-right: -958px;
    margin-bottom: 908px;
    background-color: var(--color-darkgoldenrod);
  }
  .objects-icon5,
  .reset-pass {
    position: relative;
    overflow: hidden;
  }
  .objects-icon5 {
    margin-right: -1075.7999999999993px;
    width: 483.8px;
    height: 483.2px;
    flex-shrink: 0;
    object-fit: contain;
    
  }
  /* .reset-pass {
    width: 100%;
    height: 723px;
    background-color: var(--w-background);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 265px 210px 0;
    box-sizing: border-box;
    gap: var(--gap-base);
    letter-spacing: normal;
  }  */ 


  .reset-pass {
    text-align: center;
    margin-top: 50px;
    height: 600px; /* Increased height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */ 
   
    
  }
  
  .login-container {
    max-width: 400px; /* Increased max-width */
    width: 80%; /* Increased width */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    height: fit-content;
  }
  
 
  
  .text-button {
    position: relative;
    font-size: var(--font-size-mid);
    font-weight: 500;
    font-family: var(--medium-type18);
    color: var(--w-background);
    text-align: left;
    display: inline-block;
    min-width: 76px;   
    text-align: center;

  }
  
  /* Media Query for Very Small Screens */
  @media only screen and (max-width: 414px) {
    .reset-pass {
      margin-top: 0; /* Reset margin-top */
    }
  
    .login-container {
      margin-top: 20px; /* Adjust margin-top */
      width: 100%; /* Make container full width */
    }
  }

  
 