<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="../../../styles.css" />
  <link rel="stylesheet" href="./reset-password.component.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@700&display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700;800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" />
</head>

<body>
  <div class="reset-pass">
    <section class="frame-parent59">
      <div class="ellipse-frame">
        <div class="frame-child24"></div>
      </div>
      <div class="frame9">
        <div class="headline4">
          <h1 class="headline5">Password reset</h1>
        </div>
        <div class="frame10">
          <div class="description-holder">
            <div class="description4">
              <div class="description5">
                <div class="description6">
                  add the password you want to reset for
                </div>
              </div>
            </div>
            <div class="input-field13">
              <input class="input-field14" placeholder="New Password" type="text" [(ngModel)]="password" name="password"
                #passwordInput="ngModel" minlength="6" required (blur)="passwordInputFocused = false"
                (focus)="passwordInputFocused = true" />
              <!-- Error messages for invalid password format -->
              <div
                *ngIf="!passwordInputFocused && passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
                class="error-message">
                <!-- Displayed if password is required -->
                <div *ngIf="passwordInput.errors?.['required']">Password is required</div>
                <!-- Displayed if password length is less than 6 characters -->
                <div *ngIf="passwordInput.errors?.['minlength']">Password must be at least 6 characters</div>
              </div>

            </div>
          </div>
          <div class="button-container" >
            <button class="text-button2"(click)="resetPassword()"[disabled]="!password || !passwordInput.valid"
            [ngClass]="{'invalid-button': !passwordInput.valid}">
              <!-- <div class="button2" > -->
                Reset password
              <!-- </div> -->
            </button>
          </div>
        </div>
      </div>
    </section>
    <div class="reset-pass-child"></div>
    <div class="reset-pass-item"></div>
    <img class="objects-icon5" alt="" src="../../assets/public/objects@2x.png" />
  </div>
</body>

</html>