<app-navbar></app-navbar>
<div class="screen">
    <div class="title">
        <h1>Plans</h1>
    </div>
    <div class="plans-component">
        <div class="normal-plan-wrapper">
            <div class="price-and-type">
                <div class="fee">$ FREE</div>
                <div class="type">
                    <p>Starter Pack</p>
                    <p>Billed annually</p>
                </div>
            </div>
            <hr>
            <div class="benfits-section">

            </div>
            <div class="button-to-select-wrapper">
                <button class="button-to-select">Continue</button>
            </div>
        </div>
        <div class="premium-plan-wrapper">
            <div class="price-and-type">
                <div class="fee">$ 20</div>
                <div class="type">
                    <p>Premium Pack</p>
                    <p>Billed annually</p>
                </div>
            </div>
            <hr>
            <div class="benfits-section">

            </div>
            <div class="button-to-select-wrapper">
                <button class="button-to-select">Upgrade</button>
            </div>
        </div>
    </div>
</div>