<app-navbar></app-navbar>
<div class="screen">
    <div class="title">
        <h1>Plans</h1>
    </div>
    <div class="plans-component">
        <div class="normal-plan-wrapper">
            <div class="price-and-type">
                <div class="fee">$ FREE</div>
                <div class="type">
                    <p>Starter Pack</p>
                    <p>Billed annually</p>
                </div>
            </div>
            <hr>
            <div class="benfits-section">
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>Unlimited access to blogs</p>
                </div>
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>Save upto 10 blogs</p>
                </div>
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>write upto 3 blogs a month</p>
                </div>
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>Comment on blogs</p>
                </div>
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>Rewards and loyalty benefits</p>
                </div>
            </div>
            <div class="button-to-select-wrapper">
                <button class="button-to-select" >Continue</button>
            </div>
        </div>
        <div class="premium-plan-wrapper">
            <div class="price-and-type">
                <div class="fee">$ 20</div>
                <div class="type">
                    <p>Premium Pack</p>
                    <p>Billed annually</p>
                </div>
            </div>
            <hr>
            <div class="benfits-section">
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>Higher priority for blog approvals</p>
                </div>
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>Save/write unlimited no. blogs</p>
                </div>
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>No Ads</p>
                </div>
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>Promote your blogs</p>
                </div>
                <div class="benfit">
                    <i class="fa-solid fa-circle-check" style="color: black;"></i>
                    <p>Flag inappropriate blogs</p>
                </div>
            </div>
            <div class="button-to-select-wrapper">
                <button (click)="payNow()" class="button-to-select" id="premium-button">Upgrade</button>
            </div>
        </div>
        
    </div>
</div>