<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="./login.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="signup1">
      <section class="frame-parent57">
        <div class="ellipse-parent2">
          <div class="frame-child23"></div>
          <!-- <img class="vector-icon14" alt="" src="../../assets/public/vector.svg" /> -->

          <!-- <img
            class="vector-icon15"
            loading="lazy"
            alt=""
            src="../../assets/public/vector-12.svg"
          /> -->
        </div>
        <div class="frame-wrapper34">
          <div class="frame-parent58">
            <div class="frame8">
              <div class="headline2">
                <h1 class="headline3">Welcome back</h1>
              </div>
              <div class="descrirtion-text1">
                <div class="description-text1"></div>
              </div>
              <div class="forgot-password">
                <div class="input-field9">
                  <input
                    class="input-field10"
                    placeholder="Email"
                    type="text"
                  />
                </div>
                <div class="input-field11">
                  <input
                    class="input-field12"
                    placeholder="Password"
                    type="text"
                  />
                </div>
                <div class="forgot-password1" (click)="navigateToForgotPassword()">Forgot password?</div>
                <div class="description-link-label">
                  <div class="text-button1">
                    <div class="button1">Log In</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="description-link1">
              <div class="description2">
                <div class="description3">Don't have an account?</div>
              </div>
              <div class="left-aligned-link-button1">
                <div class="link1" (click)="navigateToSignup()">Sign In</div>
              </div>
            </div>
            <div class="vector-parent2">
              <!-- <img class="vector-icon16" alt="" src="../../assets/public/vector-21.svg" />

              <img
                class="vector-icon17"
                loading="lazy"
                alt=""
                src="../../assets/public/vector-31.svg"
              /> -->
            </div>
          </div>
        </div>
      </section>
      <div class="signup-item"></div>
      <div class="signup-inner"></div>
      <img class="objects-icon4" alt="" src="../../assets/public/objects@2x.png" />
    </div>
  </body>
</html>

