<div class="ripple-background">
  <div class="circle xxlarge shade1"></div>
  <div class="circle xlarge shade2"></div>
  <div class="circle large shade3"></div>
  <div class="circle medium shade4"></div>
  <div class="circle small shade5"></div>
  <div class="circle small shade6"></div>
  <div class="circle medium shade7"></div>
  <div class="circle large shade8"></div>
  <div class="circle xlarge shade9"></div>

  <div class="screen">
    <div class="welcome-back-container">
      <div class="headline2">
        <h1 class="headline3">Welcome back</h1>
      </div>
      <div class="login-container">
        <div class="forgot-password">
          <div class="input-field9">
            <input class="input-field10" type="text" placeholder="Username" [(ngModel)]="username" name="username"
              #usernameInput="ngModel" required (blur)="usernameInputFocused = false"
              (focus)="usernameInputFocused = true" />
            <div
              *ngIf="!usernameInputFocused && usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)"
              class="error-message">
              Username is required
            </div>
          </div>
          <div class="input-field11">
            <input type="password" [(ngModel)]="password" #passwordInput="ngModel" required
              (blur)="passwordInputFocused = false" (focus)="passwordInputFocused = true" class="input-field12"
              placeholder="Password" />
            <div
              *ngIf="!passwordInputFocused && passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
              class="error-message">
              Password is required
            </div>
          </div>
          <div class="forgot-password1" (click)="navigateToForgotPassword()">Forgot password?</div>
          <div class="description-link-label">

            <button class="text-button1" (click)="onloginClick()"
              [disabled]="!usernameInput.valid || !passwordInput.valid"
              [ngClass]="{'invalid-button': !usernameInput.valid || !passwordInput.valid}">Log In</button>
          </div>
        </div>
        <div class="description-link1">
          <div class="description2">
            <div class="description3">Don't have an account?</div>
          </div>
          <div class="left-aligned-link-button1">
            <div class="link1" (click)="navigateToSignup()">Sign In</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>