*{
  margin: 0%;
  padding: 0%;
  font-family: 'roboto';
}




body {
  margin: 0;
  line-height: normal;
  background-image: url(./assets/public/bg_image.png);
  background-size: cover;
}

:root {
  /* fonts */
  --medium-type18: "Plus Jakarta Sans";
  --font-playfair-display-sc: "Playfair Display SC";
  --font-noto-sans: "Noto Sans";
  --font-roboto: Roboto;

  /* font sizes */
  --semibold-type14-size: 14px;
  --medium-type18-size: 18px;
  --bold-type70-size: 70px;
  --font-size-37xl: 56px;
  --font-size-23xl: 42px;
  --bold-type24-size: 24px;
  --font-size-lgi: 19px;
  --font-size-32xl: 51px;
  --font-size-12xl: 31px;
  --font-size-33xl: 52px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-sm-7: 13.7px;
  --font-size-6xl: 25px;
  --font-size-xs: 12px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-13xl: 32px;
  --font-size-smi: 13px;

  /* Colors */
  --w-background: #fff;
  --color-blueviolet-100: #ad52ff;
  --color-blueviolet-200: #9c3bff;
  --st: #872bff;
  --color-blueviolet-300: #7413f2;
  --color-blueviolet-400: rgba(151, 71, 255, 0.5);
  --color-darkgray: #a8a8a8;
  --color-gray-100: #8c8c8c;
  --color-gray-200: #1e1e1e;
  --black: #1c1c1c;
  --color-gray-300: rgba(0, 0, 0, 0.4);
  --color-gray-400: rgba(140, 140, 140, 0.09);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(217, 217, 217, 0.65);
  --color-gainsboro-300: rgba(217, 217, 217, 0);
  --color-indianred: rgba(202, 76, 86, 0.5);
  --color-darkgoldenrod: rgba(217, 149, 47, 0.5);
  --color-black: #000;
  --color-silver-100: #c0c0c0;
  --color-silver-200: #bfbfbf;
  --color-thistle-100: #d9cfe3;
  --color-thistle-200: #d9c2f7;
  --color-dimgray: #666;
  --color-darkslategray: #333;
  --color-lightgray: #ccc;
  --color-lavender-100: #f1e7fe;
  --color-lavender-200: #f1e7fd;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-17xl: 36px;
  --gap-3xs: 10px;
  --gap-159xl: 178px;
  --gap-5xs: 8px;
  --gap-774xl-1: 793.1px;
  --gap-11xl: 30px;
  --gap-lg: 18px;
  --gap-14xl: 33px;
  --gap-4xl: 23px;
  --gap-7xl: 26px;
  --gap-13xl: 32px;
  --gap-93xs: -80px;
  --gap-base: 16px;
  --gap-41xl: 60px;
  --gap-2xl: 21px;
  --gap-xs: 12px;
  --gap-28xl: 47px;
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-45xl: 64px;

  /* Paddings */
  --padding-8xl: 27px;
  --padding-25xl: 44px;
  --padding-56xl: 75px;
  --padding-16xl: 35px;
  --padding-base: 16px;
  --padding-12xs: 1px;
  --padding-13xl: 32px;
  --padding-15xl: 34px;
  --padding-22xl: 41px;
  --padding-4xs: 9px;
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-430xl: 449px;
  --padding-273xl: 292px;
  --padding-39xl: 58px;
  --padding-11xl: 30px;
  --padding-38xl: 57px;
  --padding-37xl: 56px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-17xl: 36px;
  --padding-7xs: 6px;
  --padding-3xl-6: 22.6px;
  --padding-lgi: 19px;
  --padding-6xs: 7px;
  --padding-52xl: 71px;
  --padding-54xl: 73px;
  --padding-3xs-8: 9.8px;
  --padding-mini-2: 14.2px;
  --padding-2xs-7: 10.7px;
  --padding-mini: 15px;
  --padding-7xl: 26px;
  --padding-lg: 18px;
  --padding-45xl: 64px;
  --padding-8xs: 5px;
  --padding-63xl: 82px;
  --padding-5xs: 8px;
  --padding-mid-5: 17.5px;
  --padding-245xl: 264px;
  --padding-113xl: 132px;
  --padding-87xl: 106px;
  --padding-lgi-5: 19.5px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-81xl: 100px;
  --br-38xl: 57px;
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-31xl: 50px;
  --br-3xs: 10px;
}
