<app-navbar class="navbar"></app-navbar>
<div class="wholescreen">
<div class="cities-bar">
  <div class="cities">
    <button class="city-wrapper" (click)="selectCity('Delhi')" [ngClass]="{'selected-city': currentCity === 'Delhi'}">
      <div class="city-name">Delhi</div>
    </button>
    <button class="city-wrapper" (click)="selectCity('Goa')" [ngClass]="{'selected-city': currentCity === 'Goa'}">
      <div class="city-name">Goa</div>
    </button>
    <button class="city-wrapper" (click)="selectCity('Pune')" [ngClass]="{'selected-city': currentCity === 'Pune'}">
      <div class="city-name">Pune</div>
    </button>
    <button class="city-wrapper" (click)="selectCity('Hyderabad')"
      [ngClass]="{'selected-city': currentCity === 'Hyderabad'}">
      <div class="city-name">Hyderabad</div>
    </button>
  </div>
</div>
<!-- <hr> -->
<div class="main-content">
  <div class="city-info">
    <div class="city-selected">
      <span>Explore </span>
      <span class="current-city">{{ currentCity }}</span>
    </div>
    <div class="city-desc">
      <p>
        Discover a complete guide to where to shop, best places to
        eat, top bars & nightlife, things to do, top places to see,
        and best tourist attractions in Delhi. Find curated reviews
        and tried and tested recommendations
      </p>
    </div>
    <div class="filter-options">
      <div class="filter-text">
        <p>Sort By:</p>
      </div>
      <div class="filter-text filters">
        <p>Popularity</p>
      </div>
      <div class="filter-text filters">
        <p>Latest</p>
      </div>
    </div>
  </div>
  <div class="blog-content">
    <div class="blog-types">
      <div class="type-name">
        <h1>
          <span>Trending Blogs</span>
        </h1>
      </div>
      <div class="rendered-blogs-scroll">
        <div class="rendered-blogs">
         <app-smaller-blog></app-smaller-blog>
         <app-smaller-blog></app-smaller-blog>       
         <app-smaller-blog></app-smaller-blog>
         <app-smaller-blog></app-smaller-blog>
        </div>
      </div>
    </div>
    <div class="blog-types">
      <div class="type-name">
        <h1>
          <span>Explore top tourist attractions</span>
        </h1>
      </div>
      <div class="rendered-blogs-scroll">
        <div class="rendered-blogs">
          <app-smaller-blog></app-smaller-blog>
          <app-smaller-blog></app-smaller-blog>       
          <app-smaller-blog></app-smaller-blog>
          <app-smaller-blog></app-smaller-blog>
        </div>
      </div>
    </div>
    <div class="blog-types">
      <div class="type-name">
        <h1>
          <span>Where to Eat</span>
        </h1>
      </div>
      <div class="rendered-blogs-scroll">
        <div class="rendered-blogs">
          <app-smaller-blog></app-smaller-blog>
          <app-smaller-blog></app-smaller-blog>       
          <app-smaller-blog></app-smaller-blog>
          <app-smaller-blog></app-smaller-blog>
        </div>
      </div>
    </div>
    <div class="blog-types">
      <div class="type-name">
        <h1>
          <span>Things to do</span>
        </h1>
      </div>
      <div class="rendered-blogs-scroll">
        <div class="rendered-blogs">
          <app-smaller-blog></app-smaller-blog>
          <app-smaller-blog></app-smaller-blog>       
          <app-smaller-blog></app-smaller-blog>
          <app-smaller-blog></app-smaller-blog>
        </div>
      </div>
    </div>
  </div>
</div>
</div>