<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="./city-guide.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="city-guide-delhi">
      <div class="city-guide-delhi-child"></div>
      <div class="city-guide-delhi-item"></div>
      <div class="login-sign-up-wrapper">
        <div class="login-sign-up">
          <app-navbar></app-navbar>
          <div class="background">
            <div class="frame-parent1">
              <div class="frame-wrapper1">
                <div class="frame-parent2">
                  <button class="rectangle-parent">
                    <div class="frame-inner"></div>
                    <div class="delhi">Delhi</div>
                  </button>
                  <button class="rectangle-group">
                    <div class="rectangle-div"></div>
                    <div class="goa">Goa</div>
                  </button>
                  <button class="rectangle-container">
                    <div class="frame-child1"></div>
                    <div class="pune">Pune</div>
                  </button>
                  <button class="group-button">
                    <div class="frame-child2"></div>
                    <div class="hyderabad">Hyderabad</div>
                  </button>
                </div>
              </div>
              <div class="circle-agra-jaipur">
                <h1 class="explore-delhi">
                  <span>Explore </span>
                  <span class="delhi1">Delhi</span>
                </h1>
                <div class="discover-a-complete">
                  Discover a complete guide to where to shop, best places to
                  eat, top bars & nightlife, things to do, top places to see,
                  and best tourist attractions in Delhi. Find curated reviews
                  and tried and tested recommendations
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="frame-parent3">
        <img class="frame-child3" alt="" src="../../assets/public/frame-50@2x.png" />

        <section class="frame-section">
          <div class="frame-parent4">
            <div class="frame-wrapper2">
              <div class="sort-by-parent">
                <div class="sort-by">Sort by :</div>
                <div class="popular-wrapper">
                  <b class="popular">Popular</b>
                </div>
                <div class="latest">Latest</div>
              </div>
            </div>
            <div class="frame-wrapper3">
              <div class="frame-parent5">
                <div class="frame-parent6">
                  <div class="explore-top-tourist-attraction-wrapper">
                    <h1 class="explore-top-tourist">
                      Explore top Tourist attractions
                    </h1>
                  </div>
                  <div class="frame-parent7">
                    <button class="vector-wrapper">
                      <img
                        class="vector-icon2"
                        alt=""
                        src="../../assets/public/vector.svg"
                      />
                    </button>
                    <div class="vector-container">
                      <img
                        class="vector-icon3"
                        alt=""
                        src="../../assets/public/vector-1.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="frame-parent8">
                  <div class="frame-wrapper4">
                    <div class="frame-parent9">
                      <div class="frame-parent10">
                        <div class="rectangle-wrapper">
                          <img
                            class="rectangle-icon"
                            loading="lazy"
                            alt=""
                            src="../../assets/public/rectangle-6@2x.png"
                          />
                        </div>
                        <div class="frame-wrapper5" id="frameContainer1">
                          <div class="india-gate-parent">
                            <b class="india-gate">India Gate</b>
                            <b class="k-saves">2k saves</b>
                          </div>
                        </div>
                      </div>
                      <div class="frame-parent11">
                        <div class="rectangle-frame">
                          <img
                            class="frame-child4"
                            alt=""
                            src="../../assets/public/rectangle-6-1@2x.png"
                          />
                        </div>
                        <div class="frame-wrapper6">
                          <div class="qutub-minar-parent">
                            <b class="qutub-minar">Qutub Minar</b>
                            <b class="k-saves1">30.9k saves</b>
                          </div>
                        </div>
                      </div>
                      <div class="frame-parent12">
                        <div class="rectangle-wrapper1">
                          <img
                            class="frame-child5"
                            alt=""
                            src="../../assets/public/rectangle-6-2@2x.png"
                          />
                        </div>
                        <div class="frame-wrapper7">
                          <div class="humayuns-tomb-parent">
                            <b class="humayuns-tomb">Humayun’s tomb</b>
                            <b class="k-saves2">9k saves</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ellipse-wrapper">
                    <div class="ellipse-div"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent13">
              <div class="frame-wrapper8">
                <div class="frame-parent14">
                  <div class="where-to-eat-wrapper">
                    <h1 class="where-to-eat">Where to eat</h1>
                  </div>
                  <div class="services-parent">
                    <div class="services"></div>
                    <div class="frame-parent15">
                      <button class="vector-frame">
                        <img
                          class="vector-icon4"
                          alt=""
                          src="../../assets/public/vector.svg"
                        />
                      </button>
                      <div class="vector-wrapper1">
                        <img
                          class="vector-icon5"
                          alt=""
                          src="../../assets/public/vector-1.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-parent16">
                <div class="frame-wrapper9">
                  <div class="frame-parent17">
                    <div class="rectangle-parent1">
                      <img
                        class="frame-child6"
                        alt=""
                        src="../../assets/public/rectangle-6-3@2x.png"
                      />

                      <div class="group-div" id="groupContainer">
                        <div class="frame-wrapper10">
                          <img
                            class="group-icon"
                            loading="lazy"
                            alt=""
                            src="../../assets/public/group-266@2x.png"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="b-a-c-k-g-r-o-u-n-d-wrapper">
                      <div class="b-a-c-k-g-r-o-u-n-d">
                        <b class="chole-paratha">Chole paratha</b>
                        <b class="k-saves3">2k saves</b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-parent18">
                  <div class="rectangle-wrapper2">
                    <img
                      class="frame-child7"
                      alt=""
                      src="../../assets/public/rectangle-6-4@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper11">
                    <div class="butter-chicken-parent">
                      <b class="butter-chicken">Butter chicken</b>
                      <b class="k-saves4">30.9k saves</b>
                    </div>
                  </div>
                </div>
                <div class="frame-parent19">
                  <div class="rectangle-wrapper3">
                    <img
                      class="frame-child8"
                      alt=""
                      src="../../assets/public/rectangle-6-5@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper12">
                    <div class="momos-parent">
                      <b class="momos">Momos</b>
                      <b class="k-saves5">9k saves</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent20">
            <div class="frame-wrapper13">
              <div class="things-to-do-parent">
                <h1 class="things-to-do">Things to do</h1>
                <div class="frame-wrapper14">
                  <div class="frame-parent21">
                    <button class="frame-button">
                      <img
                        class="vector-icon6"
                        alt=""
                        src="../../assets/public/vector.svg"
                      />
                    </button>
                    <div class="vector-wrapper2">
                      <img
                        class="vector-icon7"
                        alt=""
                        src="../../assets/public/vector-1.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper15">
              <div class="frame-parent22">
                <div class="frame-parent23">
                  <div class="rectangle-wrapper4">
                    <img
                      class="frame-child9"
                      alt=""
                      src="../../assets/public/rectangle-6-3@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper16">
                    <div class="chole-paratha-parent">
                      <b class="chole-paratha1">Chole paratha</b>
                      <b class="k-saves6">2k saves</b>
                    </div>
                  </div>
                </div>
                <div class="frame-parent24">
                  <div class="rectangle-wrapper5">
                    <img
                      class="frame-child10"
                      alt=""
                      src="../../assets/public/rectangle-6-4@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper17">
                    <div class="butter-chicken-group">
                      <b class="butter-chicken1">Butter chicken</b>
                      <b class="k-saves7">30.9k saves</b>
                    </div>
                  </div>
                </div>
                <div class="frame-parent25">
                  <div class="rectangle-wrapper6">
                    <img
                      class="frame-child11"
                      alt=""
                      src="../../assets/public/rectangle-6-5@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper18">
                    <div class="momos-group">
                      <b class="momos1">Momos</b>
                      <b class="k-saves8">9k saves</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <img class="background-icon" alt="" src="../../assets/public/background@2x.png" />

      <div class="graphic-element-container-parent">
        <div class="graphic-element-container">
          <img
            class="graphic-elements-icon"
            alt=""
            src="../../assets/public/graphic-elements.svg"
          />
        </div>
        <div class="object-container"></div>
      </div>
      <img class="objects-icon1" alt="" src="../../assets/public/objects@2x.png" />
    </div>

    <script>
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./saved-blogs.html";
        });
      }
      </script>
  </body>
</html>

