<app-navbar></app-navbar>
<div class="city-guide-delhi-sprint1">
  <!-- <div class="city-guide-delhi-sprint1-child"></div> -->
  <!-- <div class="city-guide-delhi-sprint1-item"></div> -->
  <main class="frame-parent14">
    <section class="frame-wrapper21">
      <div class="frame-parent15">
        <div class="frame-wrapper22">
          <div class="frame-parent16">
            <button class="rectangle-container">
              <!-- <div class="rectangle-div"></div> -->
              <div class="delhi">Delhi</div>
            </button>
            <button class="group-button">
              <!-- <div class="frame-child2"></div> -->
              <div class="goa">Goa</div>
            </button>
            <button class="rectangle-parent1">
              <!-- <div class="frame-child3"></div> -->
              <div class="pune">Pune</div>
            </button>
            <button class="rectangle-parent2">
              <!-- <div class="frame-child4"></div> -->
              <div class="hyderabad">Hyderabad</div>
            </button>
          </div>
        </div>
        <div class="frame-wrapper23">
          <div class="frame-parent17">
            <div class="frame-wrapper24">
              <div class="explore-delhi-parent">
                <h1 class="explore-delhi">
                  <span>Explore </span>
                  <span class="delhi1">Delhi</span>
                </h1>
                <div class="discover-a-complete">
                  Discover a complete guide to where to shop, best places to
                  eat, top bars & nightlife, things to do, top places to
                  see, and best tourist attractions in Delhi. Find curated
                  reviews and tried and tested recommendations
                </div>
              </div>
            </div>
            <div class="sort-by-parent">
              <div class="sort-by">Sort by :</div>
              <div class="popular-wrapper">
                <b class="popular">Popular</b>
              </div>
              <div class="latest">Latest</div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper25">
          <div class="frame-parent18">
            <div class="trending-blogs-wrapper">
              <h1 class="trending-blogs">Trending Blogs</h1>
            </div>
            <div class="frame-parent19">
              <div class="frame-parent20">
                <div class="frame-parent21">
                  <div class="frame-wrapper26">
                    <div class="frame-parent22">
                      <div class="frame-parent23">
                        <div class="rectangle-wrapper">
                          <img
                            class="frame-child5"
                            loading="lazy"
                            alt=""
                            src="../../../assets/public/rectangle-6@2x.png"
                          />
                        </div>
                        <div class="frame-wrapper27" id="frameContainer1">
                          <div class="india-gate-parent">
                            <b class="india-gate">India Gate</b>
                            <b class="k-saves">2k saves</b>
                          </div>
                        </div>
                      </div>
                      <div class="frame-parent24">
                        <div class="rectangle-frame">
                          <img
                            class="frame-child6"
                            alt=""
                            src="../../../assets/public/rectangle-6-1@2x.png"
                          />
                        </div>
                        <div class="frame-wrapper28">
                          <div class="qutub-minar-parent">
                            <b class="qutub-minar">Qutub Minar</b>
                            <b class="k-saves1">30.9k saves</b>
                          </div>
                        </div>
                      </div>
                      <div class="frame-parent25">
                        <div class="rectangle-wrapper1">
                          <img
                            class="frame-child7"
                            alt=""
                            src="../../../assets/public/rectangle-6-2@2x.png"
                          />
                        </div>
                        <div class="frame-wrapper29">
                          <div class="humayuns-tomb-parent">
                            <b class="humayuns-tomb">Humayun’s tomb</b>
                            <b class="k-saves2">9k saves</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="explore-top-tourist-attraction-wrapper">
                    <h1 class="explore-top-tourist">
                      Explore top Tourist attractions
                    </h1>
                  </div>
                </div>
                <div class="frame-wrapper30">
                  <div class="frame-wrapper31">
                    <div class="frame-parent26">
                      <div class="frame-parent27">
                        <div class="rectangle-wrapper2">
                          <img
                            class="frame-child8"
                            alt=""
                            src="../../../assets/public/rectangle-6@2x.png"
                          />
                        </div>
                        <div
                          class="top-tourist-attractions1"
                          id="topTouristAttractions"
                        >
                          <div class="india-gate-group">
                            <b class="india-gate1">India Gate</b>
                            <b class="k-saves3">2k saves</b>
                          </div>
                        </div>
                      </div>
                      <div class="frame-parent28">
                        <div class="rectangle-wrapper3">
                          <img
                            class="frame-child9"
                            alt=""
                            src="../../../assets/public/rectangle-6-1@2x.png"
                          />
                        </div>
                        <div class="frame-wrapper32">
                          <div class="qutub-minar-group">
                            <b class="qutub-minar1">Qutub Minar</b>
                            <b class="k-saves4">30.9k saves</b>
                          </div>
                        </div>
                      </div>
                      <div class="frame-parent29">
                        <div class="rectangle-wrapper4">
                          <img
                            class="frame-child10"
                            alt=""
                            src="../../../assets/public/rectangle-6-2@2x.png"
                          />
                        </div>
                        <div class="frame-wrapper33">
                          <div class="humayuns-tomb-group">
                            <b class="humayuns-tomb1">Humayun’s tomb</b>
                            <b class="k-saves5">9k saves</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ellipse-wrapper">
                <div class="frame-child11"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent30">
          <div class="where-to-eat-wrapper">
            <h1 class="where-to-eat">Where to eat</h1>
          </div>
          <div class="frame-parent31">
            <div class="rectangle-parent3">
              <img
                class="frame-child12"
                alt=""
                src="../../../assets/public/rectangle-6@2x.png"
              />

              <img
                class="component-1-icon3"
                loading="lazy"
                alt=""
                src="../../../assets/public/component-1.svg"
              />
            </div>
            <div class="chole-paratha-by-atharva-zanwa-parent1">
              <b class="chole-paratha-by3"
                >Chole paratha by atharva zanwar
              </b>
              <div class="k-likes-container">
                <b class="k-likes3">2k likes</b>
              </div>
              <div class="frame-wrapper34">
                <div class="frame-parent32">
                  <div class="vector-frame">
                    <img
                      class="vector-icon2"
                      loading="lazy"
                      alt=""
                      src="../../../assets/public/vector.svg"
                    />
                  </div>
                  <b class="k-views4">1.5k views</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-with-borders">
          <div class="frame-parent33">
            <div class="things-to-do-wrapper">
              <h1 class="things-to-do">Things to do</h1>
            </div>
            <div class="frame-wrapper35">
              <div class="frame-parent34">
                <div class="frame-parent35">
                  <div class="rectangle-wrapper5">
                    <img
                      class="frame-child13"
                      alt=""
                      src="../../../assets/public/rectangle-6@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper36">
                    <div class="chole-paratha-parent">
                      <b class="chole-paratha1">Chole paratha</b>
                      <b class="k-saves6">2k saves</b>
                    </div>
                  </div>
                </div>
                <div class="frame-parent36">
                  <div class="rectangle-wrapper6">
                    <img
                      class="frame-child14"
                      alt=""
                      src="../../../assets/public/rectangle-6-7@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper37">
                    <div class="butter-chicken-parent">
                      <b class="butter-chicken">Butter chicken</b>
                      <b class="k-saves7">30.9k saves</b>
                    </div>
                  </div>
                </div>
                <div class="frame-parent37">
                  <div class="rectangle-wrapper7">
                    <img
                      class="frame-child15"
                      alt=""
                      src="../../../assets/public/rectangle-6-8@2x.png"
                    />
                  </div>
                  <div class="frame-wrapper38">
                    <div class="momos-parent">
                      <b class="momos">Momos</b>
                      <b class="k-saves8">9k saves</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div class="background-parent">
    <img class="background-icon1" alt="" src="../../../assets/public/background@2x.png" />

    <div class="frame-parent38">
      <div class="graphic-elements-wrapper">
        <img
          class="graphic-elements-icon1"
          alt=""
          src="../../../assets/public/graphic-elements.svg"
        />
      </div>
      <div class="frame-child16"></div>
    </div>
  </div>
  <img class="objects-icon1" alt="" src="../../../assets/public/objects@2x.png" />
</div>
