.city-guide-delhi-sprint1-child,
.city-guide-delhi-sprint1-item {
  width: 500px;
  height: 500px;
  position: absolute;
  margin: 0 !important;
  border-radius: 50%;
  background-color: var(--color-indianred);
  filter: blur(500px);
}
.city-guide-delhi-sprint1-child {
  top: -223px;
  left: -356px;
}
.city-guide-delhi-sprint1-item {
  bottom: 828px;
  left: -268px;
}
.teri-galli-mai1 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.teri-galli-mai-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.home1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 41px;
}
.city-guides1,
.view-saves,
.write-a-blog {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.city-guides1 {
  font-weight: 800;
  color: var(--st);
  min-width: 80px;
}
.view-saves,
.write-a-blog {
  font-weight: 600;
  min-width: 77px;
}
.write-a-blog {
  min-width: 81px;
}
.top-tourist-attractions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.sort-popular-latest {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.login {
  width: 38px;
  position: relative;
  font-size: var(--semibold-type14-size);
  font-weight: 600;
  font-family: var(--bold-type24);
  color: var(--black);
  text-align: center;
  display: inline-block;
  min-width: 38px;
}
.login-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-22xl);
  background-color: var(--w-background);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-wrapper:hover {
  background-color: var(--color-gainsboro-100);
}
.sign-up {
  width: 52px;
  position: relative;
  font-size: var(--semibold-type14-size);
  font-weight: 600;
  font-family: var(--bold-type24);
  color: var(--w-background);
  text-align: center;
  display: inline-block;
  min-width: 52px;
}
.sign-up-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-15xl);
  background-color: var(--st);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.sign-up-wrapper:hover {
  background-color: var(--color-blueviolet-100);
}
.frame-header,
.india-gate-qutub-minar-humayun,
.shopping-best-places {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-header,
.shopping-best-places {
  width: 873px;
  gap: var(--gap-159xl);
  max-width: 100%;
  font-size: var(--semibold-type14-size);
  font-family: var(--bold-type24);
}
.frame-header {
  width: 1316px;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--bold-type24-size);
  color: var(--black);
  font-family: var(--font-playfair-display-sc);
}
.rectangle-div {
  height: 46.9px;
  width: 100.3px;
  position: relative;
  border-radius: 56.99px;
  border: 3.4px solid var(--color-thistle-200);
  box-sizing: border-box;
  display: none;
}
.delhi {
  height: 26.4px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm-7);
  font-family: var(--bold-type24);
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child2,
.rectangle-container {
  width: 100.3px;
  border-radius: 56.99px;
  box-sizing: border-box;
}
.rectangle-container {
  cursor: pointer;
  border: 3.4px solid var(--color-thistle-200);
  padding: var(--padding-3xs-8) var(--padding-mini-2) var(--padding-2xs-7);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container:hover {
  background-color: rgba(191, 168, 222, 0.09);
  border: 3.4px solid #bfa8de;
  box-sizing: border-box;
}
.frame-child2 {
  height: 46.9px;
  position: relative;
  border: 1.1px solid var(--color-silver-200);
  display: none;
}
.goa {
  height: 26.4px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm-7);
  font-family: var(--bold-type24);
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame-child3,
.group-button {
  width: 100.3px;
  border-radius: 56.99px;
  border: 1.1px solid var(--color-silver-200);
  box-sizing: border-box;
}
.group-button {
  cursor: pointer;
  padding: var(--padding-3xs-8) var(--padding-mini-2) var(--padding-2xs-7);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-button:hover,
.rectangle-parent1:hover,
.rectangle-parent2:hover {
  background-color: var(--color-gray-300);
  border: 1.1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.frame-child3 {
  height: 46.9px;
  position: relative;
  display: none;
}
.pune {
  height: 26.4px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm-7);
  font-family: var(--bold-type24);
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame-child4,
.rectangle-parent1 {
  border-radius: 56.99px;
  border: 1.1px solid var(--color-silver-200);
  box-sizing: border-box;
}
.rectangle-parent1 {
  cursor: pointer;
  padding: var(--padding-3xs-8) var(--padding-mini-2) var(--padding-2xs-7);
  background-color: transparent;
  width: 100.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child4 {
  height: 46.7px;
  width: 129.9px;
  position: relative;
  display: none;
}
.hyderabad {
  height: 26.2px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm-7);
  font-family: var(--bold-type24);
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 82.1px;
  z-index: 1;
}
.frame-parent16,
.frame-wrapper22,
.rectangle-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent2 {
  cursor: pointer;
  border: 1.1px solid var(--color-silver-200);
  padding: 10.3px 23.9px 10.2px;
  background-color: transparent;
  flex: 1;
  border-radius: 56.99px;
  box-sizing: border-box;
  justify-content: flex-start;
  min-width: 82px;
}
.frame-parent16,
.frame-wrapper22 {
  max-width: 100%;
}
.frame-parent16 {
  width: 499.8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame-wrapper22 {
  width: 1158.6px;
  justify-content: center;
  padding: 0 var(--padding-xl) 27.8px;
  box-sizing: border-box;
}
.delhi1 {
  color: var(--st);
}
.explore-delhi {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.discover-a-complete {
  align-self: stretch;
  position: relative;
  font-size: var(--medium-type18-size);
  line-height: 30px;
  font-weight: 500;
  color: var(--color-darkgray-100);
}
.explore-delhi-parent,
.frame-wrapper24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.explore-delhi-parent {
  flex: 1;
  flex-direction: column;
  gap: 36px;
}
.frame-wrapper24 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.popular,
.sort-by {
  position: relative;
  display: inline-block;
}
.sort-by {
  height: 33px;
  flex: 1;
}
.popular {
  min-width: 76px;
}
.popular-wrapper {
  flex: 0.7917;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.latest {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.frame-parent17,
.frame-wrapper23,
.sort-by-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sort-by-parent {
  width: 316px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xl);
  font-size: var(--font-size-xl);
}
.frame-parent17,
.frame-wrapper23 {
  max-width: 100%;
}
.frame-parent17 {
  flex: 1;
  flex-direction: column;
  gap: 61.2px;
}
.frame-wrapper23 {
  width: 966px;
  flex-direction: row;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
  font-size: var(--bold-type70-size);
  color: var(--text-color);
}
.trending-blogs {
  margin: 0;
  height: 66px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.trending-blogs-wrapper {
  width: 387px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.india-gate,
.k-saves {
  position: relative;
  display: inline-block;
  min-width: 119px;
}
.k-saves {
  color: var(--st);
  min-width: 99px;
}
.india-gate-parent {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent23,
.frame-wrapper27,
.india-gate-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-wrapper27 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-37xl) var(--padding-11xl);
  cursor: pointer;
}
.frame-parent23 {
  height: 522px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-frame {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.k-saves1,
.qutub-minar {
  position: relative;
}
.k-saves1 {
  color: var(--st);
}
.qutub-minar-parent {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent24,
.frame-wrapper28,
.qutub-minar-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-wrapper28 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-38xl) var(--padding-11xl);
}
.frame-parent24 {
  height: 524px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.humayuns-tomb,
.k-saves2 {
  position: relative;
}
.k-saves2 {
  display: inline-block;
  color: var(--st);
  min-width: 99px;
}
.frame-wrapper29,
.humayuns-tomb-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.humayuns-tomb-parent {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-wrapper29 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-39xl) var(--padding-11xl);
}
.frame-parent22,
.frame-parent25 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent25 {
  height: 526px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}
.frame-parent22 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-11xl);
  grid-template-columns: repeat(3, minmax(262px, 1fr));
}
.frame-wrapper26 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.explore-top-tourist {
  margin: 0;
  height: 66px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.explore-top-tourist-attraction-wrapper {
  width: 775px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-33xl);
  color: var(--color-gray-200);
}
.frame-child8,
.frame-parent21 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: 47.5px;
}
.frame-child8 {
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.india-gate1,
.k-saves3 {
  position: relative;
  display: inline-block;
  min-width: 119px;
}
.k-saves3 {
  color: var(--st);
  min-width: 99px;
}
.india-gate-group {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent27,
.india-gate-group,
.top-tourist-attractions1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top-tourist-attractions1 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-37xl) var(--padding-11xl);
  cursor: pointer;
}
.frame-parent27 {
  height: 522px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child9 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.k-saves4,
.qutub-minar1 {
  position: relative;
}
.k-saves4 {
  color: var(--st);
}
.qutub-minar-group {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent28,
.frame-wrapper32,
.qutub-minar-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-wrapper32 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-38xl) var(--padding-11xl);
}
.frame-parent28 {
  height: 524px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child10 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.humayuns-tomb1,
.k-saves5 {
  position: relative;
}
.k-saves5 {
  display: inline-block;
  color: var(--st);
  min-width: 99px;
}
.frame-wrapper33,
.humayuns-tomb-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.humayuns-tomb-group {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-wrapper33 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-39xl) var(--padding-11xl);
}
.frame-parent26,
.frame-parent29 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent29 {
  height: 526px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}
.frame-parent26 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-11xl);
  grid-template-columns: repeat(3, minmax(262px, 1fr));
}
.frame-wrapper31 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.frame-wrapper30 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child11,
.frame-parent20 {
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent20 {
  width: 1117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 89.5px;
  min-width: 1117px;
}
.frame-child11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-blueviolet-400);
  filter: blur(500px);
}
.ellipse-wrapper {
  height: 821px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 321px 0 0;
  box-sizing: border-box;
  min-width: 500px;
  max-width: 100%;
}
.frame-parent19 {
  align-self: stretch;
  flex-direction: row;
  gap: 42px;
  font-size: var(--bold-type24-size);
  color: var(--black);
}
.frame-parent18,
.frame-parent19,
.frame-wrapper25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent18 {
  flex: 1;
  flex-direction: column;
  gap: 44px;
}
.frame-wrapper25 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-22xl) var(--padding-10xs);
  box-sizing: border-box;
}
.where-to-eat {
  margin: 0;
  height: 66px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.where-to-eat-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child12 {
  height: 330px;
  width: 350px;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.component-1-icon3 {
  height: 48px;
  width: 48px;
  position: relative;
  z-index: 2;
}
.rectangle-parent3 {
  align-self: stretch;
  height: 330px;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-4xl) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  /* background-image: url(./public/rectangle-6@2x.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.chole-paratha-by3 {
  align-self: stretch;
  position: relative;
  font-size: var(--bold-type24-size);
  color: var(--black);
}
.k-likes3 {
  position: relative;
  display: inline-block;
  min-width: 70px;
}
.k-likes-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-16xl);
}
.vector-icon2 {
  width: 22px;
  height: 15px;
  position: relative;
  z-index: 2;
}
.vector-frame {
  height: 17.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-5);
  box-sizing: border-box;
}
.k-views4 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.frame-parent32,
.frame-wrapper34 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent32 {
  align-items: flex-end;
  gap: var(--gap-3xs);
}
.frame-wrapper34 {
  align-items: flex-start;
  padding: 0 var(--padding-10xs);
}
.chole-paratha-by-atharva-zanwa-parent1,
.frame-parent30,
.frame-parent31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chole-paratha-by-atharva-zanwa-parent1 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  padding: var(--padding-5xl-5) var(--padding-2xs) var(--padding-14xl-5)
    var(--padding-11xl);
  gap: var(--gap-mini);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent30,
.frame-parent31 {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent31 {
  align-self: stretch;
  height: 522px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
  padding: 0 0 var(--padding-173xl);
  z-index: 1;
  font-size: var(--medium-type18-size);
  color: var(--color-darkgray-200);
}
.frame-parent30 {
  width: 370px;
  padding: 0 var(--padding-xl) 55.3px 0;
  gap: var(--gap-61xl);
}
.things-to-do {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.things-to-do-wrapper {
  width: 323px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child13 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chole-paratha1,
.k-saves6 {
  position: relative;
}
.k-saves6 {
  display: inline-block;
  color: var(--st);
  min-width: 99px;
}
.chole-paratha-parent {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.chole-paratha-parent,
.frame-parent35,
.frame-wrapper36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-wrapper36 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-37xl) var(--padding-11xl);
}
.frame-parent35 {
  height: 522px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child14 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper6 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.butter-chicken,
.k-saves7 {
  position: relative;
}
.k-saves7 {
  color: var(--st);
}
.butter-chicken-parent {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.butter-chicken-parent,
.frame-parent36,
.frame-wrapper37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-wrapper37 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-38xl) var(--padding-11xl);
}
.frame-parent36 {
  height: 524px;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child15 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper7 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.k-saves8,
.momos {
  position: relative;
  display: inline-block;
  min-width: 88px;
}
.k-saves8 {
  color: var(--st);
  min-width: 99px;
}
.frame-wrapper38,
.momos-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.momos-parent {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-wrapper38 {
  align-self: stretch;
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--w-background);
  justify-content: center;
  padding: var(--padding-39xl) var(--padding-11xl);
}
.frame-parent34,
.frame-parent37 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent37 {
  height: 526px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.frame-parent34 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-11xl);
  grid-template-columns: repeat(3, minmax(262px, 1fr));
}
.frame-parent33,
.frame-wrapper35 {
  display: flex;
  flex-direction: column;
}
.frame-wrapper35 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  font-size: var(--bold-type24-size);
  color: var(--black);
}
.frame-parent33 {
  flex: 1;
  align-items: flex-start;
  gap: 78.7px;
}
.container-with-borders,
.frame-parent15,
.frame-parent33 {
  justify-content: flex-start;
  max-width: 100%;
}
.container-with-borders {
  width: 1116px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-32xl);
}
.frame-parent15 {
  width: 1299px;
  flex-direction: column;
  gap: 58px;
}
.frame-parent14,
.frame-parent15,
.frame-wrapper21 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper21 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-33xl);
  color: var(--color-gray-200);
  font-family: var(--bold-type24);
}
.frame-parent14 {
  width: 1387px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 63.1px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.background-icon1,
.graphic-elements-icon1 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.background-icon1 {
  margin-right: -24.5px;
  width: 447.5px;
  height: 272px;
  object-fit: cover;
}
.graphic-elements-icon1 {
  align-self: stretch;
  flex: 1;
  max-height: 100%;
  debug_commit: f6aba90;
}
.graphic-elements-wrapper {
  height: 625.4px;
  width: 183.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-430xl) 0 0;
  box-sizing: border-box;
}
.frame-child16 {
  height: 500px;
  width: 500px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkgoldenrod);
  filter: blur(500px);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.background-parent,
.frame-parent38 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent38 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-774xl-1);
  max-width: 100%;
}
.background-parent {
  width: 1315px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 436.6px var(--padding-xl);
  box-sizing: border-box;
  gap: 25px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.objects-icon1 {
  margin-right: -299.8000000000002px;
  width: 483.8px;
  height: 483.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  debug_commit: f6aba90;
}
.city-guide-delhi-sprint1 {
  width: 100%;
  height: 3683px;
  position: relative;
  background-color: var(--w-background);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 162px;
  box-sizing: border-box;
  gap: 362px;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .frame-parent20 {
    flex: 1;
    min-width: 100%;
  }
  .ellipse-wrapper {
    flex: 1;
  }
  .frame-parent19 {
    flex-wrap: wrap;
  }
  .frame-wrapper25 {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .frame-parent38 {
    flex-wrap: wrap;
    gap: 793.1px 397px;
  }
  .background-parent {
    padding-bottom: 284px;
    box-sizing: border-box;
  }
  .city-guide-delhi-sprint1 {
    gap: 181px 362px;
  }
}
@media screen and (max-width: 1125px) {
  .top-tourist-attractions {
    display: none;
  }
  .shopping-best-places {
    gap: 178px 89px;
  }
  .frame-parent17 {
    gap: 31px 61.2px;
  }
  .frame-parent22,
  .frame-parent26 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(262px, 455px));
  }
  .frame-parent20 {
    gap: 45px 89.5px;
  }
  .ellipse-wrapper {
    padding-top: 209px;
    box-sizing: border-box;
  }
  .frame-parent34 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(262px, 455px));
  }
  .frame-parent33 {
    gap: 39px 78.7px;
  }
}
@media screen and (max-width: 825px) {
  .india-gate-qutub-minar-humayun {
    display: none;
  }
  .shopping-best-places {
    width: 625px;
  }
  .explore-delhi {
    font-size: var(--font-size-37xl);
  }
  .trending-blogs {
    font-size: var(--font-size-23xl);
  }
  .frame-parent22 {
    grid-template-columns: minmax(262px, 1fr);
  }
  .explore-top-tourist {
    font-size: var(--font-size-23xl);
  }
  .frame-parent21 {
    gap: 24px 47.5px;
  }
  .frame-parent26 {
    grid-template-columns: minmax(262px, 1fr);
  }
  .frame-parent20 {
    gap: 22px 89.5px;
  }
  .ellipse-wrapper {
    min-width: 100%;
  }
  .frame-parent19 {
    gap: 42px 21px;
  }
  .frame-parent18 {
    gap: 22px 44px;
  }
  .frame-wrapper25 {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .where-to-eat {
    font-size: var(--font-size-23xl);
  }
  .frame-parent30,
  .frame-parent31 {
    padding-bottom: var(--padding-106xl);
    box-sizing: border-box;
  }
  .frame-parent30 {
    padding-bottom: var(--padding-17xl);
  }
  .things-to-do {
    font-size: 41px;
  }
  .frame-parent34 {
    grid-template-columns: minmax(262px, 1fr);
  }
  .frame-parent33 {
    gap: 20px 78.7px;
  }
  .frame-parent15 {
    gap: 29px 58px;
  }
  .frame-parent14 {
    gap: 32px 63.1px;
  }
  .graphic-elements-wrapper {
    padding-top: var(--padding-273xl);
    box-sizing: border-box;
  }
  .frame-parent38 {
    gap: 793.1px 198px;
  }
  .background-parent {
    padding-bottom: 185px;
    box-sizing: border-box;
  }
  .city-guide-delhi-sprint1 {
    gap: 90px 362px;
  }
}
@media screen and (max-width: 450px) {
  .shopping-best-places {
    gap: 178px 44px;
  }
  .explore-delhi {
    font-size: var(--font-size-23xl);
  }
  .explore-delhi-parent {
    gap: 18px 36px;
  }
  .latest,
  .popular,
  .sort-by {
    font-size: var(--body-m-size);
  }
  .frame-parent17 {
    gap: 15px 61.2px;
  }
  .trending-blogs {
    font-size: var(--font-size-12xl);
  }
  .humayuns-tomb,
  .india-gate,
  .k-saves,
  .k-saves1,
  .k-saves2,
  .qutub-minar {
    font-size: var(--font-size-lgi);
  }
  .frame-wrapper29 {
    gap: 18px 36px;
  }
  .explore-top-tourist {
    font-size: var(--font-size-12xl);
  }
  .humayuns-tomb1,
  .india-gate1,
  .k-saves3,
  .k-saves4,
  .k-saves5,
  .qutub-minar1 {
    font-size: var(--font-size-lgi);
  }
  .frame-wrapper33 {
    gap: 18px 36px;
  }
  .ellipse-wrapper {
    padding-top: 136px;
    box-sizing: border-box;
  }
  .where-to-eat {
    font-size: var(--font-size-12xl);
  }
  .chole-paratha-by3 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent30 {
    gap: 40px 80px;
  }
  .things-to-do {
    font-size: var(--font-size-12xl);
  }
  .butter-chicken,
  .chole-paratha1,
  .k-saves6,
  .k-saves7,
  .k-saves8,
  .momos {
    font-size: var(--font-size-lgi);
  }
  .frame-parent14 {
    gap: 16px 63.1px;
  }
  .frame-parent38 {
    gap: 793.1px 99px;
  }
  .city-guide-delhi-sprint1 {
    height: auto;
    gap: 45px 362px;
  }
}
