<div class="dropdown">
    <a (click)="toggleDropdown()">
      <img
        class="profile-user"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2za5BkrRdiLySsA5tgm_SwWZqemTjg42T9PTME4hJEA&amp;s"
        alt="Description of the image"
    /></a>
    <ul [ngClass]="{ active: dropdownActive }">
      <li (click)="navigateTo('/editprofile')">Edit Profile</li>
      <li><a routerLink="/booking">My Booking</a></li>
      <li><a routerLink="/my_cars">My Cars</a></li>
      <li (click)="logOut()">Log Out</li>
    </ul>
  </div>
